[2018-09-20 16:57] skoudoro opened #1 "fvtk.label won't show up if called twice"
_From @samuelstjean on April 24, 2014 15:3_

Try this :

You get origin in white, show it again, and you only get a black scene (on my computer).
fvtk.show(r) # nothing happens :(

I'm on ubuntu 12.04, could be a vtk problem or a rendering problem, points show up fine for example and don't exibit this behavior.

_Copied from original issue: nipy/dipy#353_

[2018-09-20 16:59] skoudoro opened #2 "Dipy visualization (fvtk) crash when saving series of images"
_From @mick-d on May 12, 2015 22:29_

I wrote a script to save a series of slice visualization (ellipsoids) with dipy vtk module (`fvtk`). However after a few slices (around 6) python crashes with only error message "Segmentation fault (core dumped)".

The script goes:

[code]

_Copied from original issue: nipy/dipy#645_

[2018-09-20 17:00] skoudoro opened #3 "Dipy visualization with missing (?) affine parameter"
_From @mick-d on May 12, 2015 22:30_

I would like to add slices and other elements in dipy `fvtk` visualization but no `affine` parameter is available for element such as `dipy.viz.fvtk.slicer`.  The `voxsz` parameter helps rescaling but what about rotation/translation/etc.?

_Copied from original issue: nipy/dipy#646_

[2018-09-20 17:00] skoudoro opened #4 "fvtk contour function ignores voxsz parameter"
_From @mick-d on May 12, 2015 22:34_

When trying to display an ROI, fvtk render the slice in the same place, even when provided with a different voxsz parameter.
In my case the following two commands provided the same results:

[code]

[code]

_Copied from original issue: nipy/dipy#647_

[2018-09-20 17:01] skoudoro opened #5 "How to resolve python-vtk6 link issues in Ubuntu"
_From @Garyfallidis on November 2, 2015 0:54_

Moving back to python-vtk6 from vtk5(python-vtk) creates an error

[code]

The resolution was to relink the broken so files

[code]

(May need sudo first too)

The rest of the discussion is found here
http://stackoverflow.com/questions/13495285/importerror-no-module-named-vtkcommonpython

_Copied from original issue: nipy/dipy#759_

[2018-09-20 17:01] skoudoro commented on #5
_From @Garyfallidis on November 2, 2015 0:58_

@arokem is this the same error you got the other day in Travis?

[2018-09-20 17:01] skoudoro commented on #5
_From @arokem on November 2, 2015 2:42_

Yes. Looks the same. We should be able to run that in the vtk6 machine on
travis
On Nov 1, 2015 7:58 PM, "Eleftherios Garyfallidis" notifications@github.com
wrote:

[2018-09-20 17:01] skoudoro commented on #5
_From @MarcCote on October 15, 2016 20:14_

I saw that we have a Travis build that is supposed to use VTK6 but Ubuntu 12.04 "precise", the one currently used by Travis, doesn't offer the package `python-vtk6`. See
https://travis-ci.org/nipy/dipy/jobs/167835093#L399

This means tests related to VTK are skipped in that build. Maybe we should drop that specific Travis build (speed up the testing) or

[2018-09-20 17:01] skoudoro commented on #5
_From @Garyfallidis on October 15, 2016 21:54_

I think what you suggest is a good idea. +1

[2018-09-20 17:01] skoudoro commented on #5
_From @MarcCote on October 15, 2016 22:6_

I'm not sure if we can use Trusty beta environment only for a specific build (i.e. the one testing VTK6). That might impact the other builds we have. The easiest solution would be to drop the build with Python-vtk6.

[2018-09-20 17:02] skoudoro opened #6 "VTK and Python 3 support in fvtk"
_From @grlee77 on January 29, 2016 23:15_

It looks like the soon to be released VTK 7 finally supports Python 3!  However, `vtkVolumeTextureMapper2D` is now deprecated in VTK7 so it can no longer be used in `fvtk.volume` (see here:  http://www.vtk.org/Wiki/VTK/API_Changes_6_3_0_to_7_0_0 ).  I am not sure what is an equivalent replacement if any.  The good news is that it seems minimal changes to

[2018-09-20 17:02] skoudoro commented on #6
_From @grlee77 on January 29, 2016 23:25_

Actually, I guess `vtk.vtkVolumeRayCastMapper` and `vtk.vtkVolumeRayCastCompositeFunction` are also now deprecated, but they still seem to exist in the version I compiled.  `vtkVolumeTextureMapper2D` was not available at all in the Python wrappers (at least for the compilation flags I used).

These are the CMake flags I had set at compile time.  I can pro

[2018-09-20 17:02] skoudoro commented on #6
_From @Garyfallidis on February 1, 2016 11:40_

Hi @grlee77 thank you again for your excellent feedback. First I would like to say that I am very excited about having Python 3 support in VTK that was the only dependency we had in Dipy that was not Python 3 compatible. We need to update our docs.

Second, the formely known fvtk module is being slowly replaced with the new dipy.viz system. Have a lo

[2018-09-20 17:02] skoudoro commented on #6
_From @grlee77 on February 1, 2016 17:17_

Hi @Garyfallidis, I am not sure if the same transparency problem is also present in VTK6/Python 2.7.  I may be able to check later this week.

It seems that VTK7 uses a newer "OpenGL2" backend by default which has some differences in the volume rendering methods that are implemented.  The following file indicates which classes will be present depending on

[2018-09-20 17:02] skoudoro commented on #6
_From @Garyfallidis on February 1, 2016 18:23_

Cool, thank you for the tips. Most likely you will see the same effect in the same machine. If not I will definitely need to know that and report it to VTK.

[2018-09-20 17:02] skoudoro commented on #6
_From @grlee77 on February 1, 2016 19:4_

Anaconda already has a VTK 6.3 package for Python 2.7, so it was easy to test against that.  The result is that `green_front.png` looks the same as above, but `red_front.png` looks correct now:

![red_front](https://cloud.githubusercontent.com/assets/6528957/12727762/585d42ca-c8ec-11e5-9703-e92c1a61724f.png)

I don't know enough to say whether this is a VT

[2018-09-20 17:02] skoudoro opened #7 "change size of colorbar in viz module"
_From @samuelstjean on February 15, 2016 11:0_

Is there an option to do that? I looked at the docstring of some actors from this example http://nipy.org/dipy/examples_built/viz_bundles.html#example-viz-bundles and there does not seem to be a way to change the size of the bar/numbers. Looks a bit too big in comparison with the bundle, and fiddling with the window size change the number size but no

[2018-09-20 17:02] skoudoro commented on #7
_From @arokem on February 15, 2016 16:9_

This seems like a question better discussed on the mailing list.

[2018-09-20 17:02] skoudoro commented on #7
_From @samuelstjean on February 15, 2016 16:12_

This also seems like a missing feature/needs better documentation. Maybe it
is even impossible, could not find out.

2016-02-15 17:09 GMT+01:00 Ariel Rokem notifications@github.com:

[2018-09-20 17:03] skoudoro commented on #7
_From @arokem on February 15, 2016 16:14_

The point is that if an answer is provided here, and we close this issue, it will be hard for a casual user to ever find this answer again.

[2018-09-20 17:03] skoudoro commented on #7
_From @samuelstjean on February 15, 2016 16:20_

I rather saw this as
1. here is how to do it
   1.a. We should edit the doc example so it's easier to find for random people.

or
1. Oh right, that could be useful to have.

[2018-09-20 17:03] skoudoro commented on #7
_From @samuelstjean on February 23, 2016 13:9_

It can be done by accessing directly the vtk properties of the bar actor, albeit not super user friendly.

Example

[code]

Some position properties also can do that according to the vtk doc.

![dipy](https://cloud.githubusercontent.com/assets/3030760/13252446/fecb342c-da36-11e5-9106-9260c09f13f1.png)

[2018-09-20 17:03] skoudoro opened #8 "dipy.viz.colormap crash on single fibers"
_From @samuelstjean on February 18, 2016 13:54_

[code]

Granted, that is my fault as I was giving it an array instead of a (single element) list, but it only checks for input of dimension 1 or 2, and crash weirdly if that is not the case as seen above.

_Copied from original issue: nipy/dipy#928_

[2018-09-20 17:03] skoudoro commented on #8
_From @sahmed95 on March 17, 2016 18:58_

The orient variable is not initialized to anything at the start of the [function](https://github.com/nipy/dipy/blob/master/dipy/viz/colormap.py#L224).

[code]

If the argument to colormap.orient2rgb is not a valid numpy array both 'if' conditions are not satisfied and hence it may be throwing the "referenced before assignment error"

What should be the typ

[2018-09-20 17:03] skoudoro commented on #8
_From @theaverageguy on March 22, 2016 13:47_

@samuelstjean @sahmed95
I would like to fix this. A little help please.

[2018-09-20 17:03] skoudoro commented on #8
_From @arokem on March 22, 2016 14:46_

I would try to implement a check for the number of streamlines and special-case the single fiber case.

[2018-09-20 17:03] skoudoro opened #9 "With VTK 6.3, streamlines color map bar text disappears when using streamtubes"
_From @gauvinalexandre on April 24, 2017 13:22_

I have tested this with VTK 5.8 and the bugs does not happen, so it seems to be version specific. Here is the simple code snippet to reproduce de bug:
[code]

I'm running on dipy from the master branch updated at the moment of submitting this issue.

_Copied from original issue: nipy/dipy#1232_

[2018-09-20 17:03] skoudoro commented on #9
_From @MarcCote on April 25, 2017 0:51_

It seems that enabling the Backface Culling for the streamtubes is causing the problem.
See `actor.GetProperty().BackfaceCullingOn()` in https://github.com/nipy/dipy/blob/master/dipy/viz/actor.py#L343

I'm no expert in rendering, is the backface culling needed, what does it do exactly?

[2018-09-20 17:03] skoudoro commented on #9
_From @gauvinalexandre on April 25, 2017 17:47_

Wow! How did you guess that!? Thanks for the hint. How can colorbar labels be affected by backface culling?

Backface culling **accelerates** the rendering process by omitting the back faces... AND THE COLORBAR LABELS apparently. :P.
I just did a quick test: **725ms (BFC) vs. (730) (Without)**. Pretty consistently faster he!?

I'm not sure if it's a

[2018-09-20 17:06] skoudoro opened #10 "Reorienting peak_slicer and ODF_slicer"
_From @Garyfallidis on July 7, 2017 19:10_

This is a reminder that I have not implemented yet the part that applies the rotational parts of the affines in the ODFs and peak_directions. When you move from native coordinates to world coordinates there are usually some rotations and scales involved. I am currently not applying those.

_Copied from original issue: nipy/dipy#1295_

[2018-09-20 17:07] skoudoro opened #11 "Reorienting peak_slicer and ODF_slicer"
_From @Garyfallidis on July 7, 2017 19:10_

This is a reminder that I have not implemented yet the part that applies the rotational parts of the affines in the ODFs and peak_directions. When you move from native coordinates to world coordinates there are usually some rotations and scales involved. I am currently not applying those.

_Copied from original issue: nipy/dipy#1295_

[2018-09-20 17:09] skoudoro opened #12 "Visualization problem with tensors ?"
_From @carpre on January 4, 2018 22:11_

Hi,

I did an experiment with 2 gradient tables. The second gradient table is the same than the first but with x and y flipped (-x and -y).

I computed the tensors and tried to plot 3 slices (coronal, axial and sagittal) using vtk as shown in the examples.

I can see that I get different eigen vectors for the 2 gradient tables when I print them.
Original ev

[2018-09-20 17:10] skoudoro opened #13 "window.record() resolution limit"
_From @dmreagan on February 9, 2018 18:43_

## Description
`window.record()` can be used to save a render to a PNG image. If you set the `size` to be higher than your monitor size, the resulting image will be capped to just under your monitor's resolution. For example, if you set `size=(5000, 5000)`, but your monitor's resolution is (1920, 1080), the image width will end up being something like 19

[2018-09-20 17:10] skoudoro commented on #13
_From @ShreyasFadnavis on March 12, 2018 21:31_

Can you review my pull request for this? #1453

[2018-09-20 17:10] skoudoro commented on #13
_From @dmreagan on March 13, 2018 2:31_

@ShreyasFadnavis  and @karandeepSJ report that they had no trouble with large resolutions on their systems.  Can you both report which OS, Python, and VTK versions you are using to get these successful results?

[2018-09-20 17:10] skoudoro commented on #13
_From @ShreyasFadnavis on March 13, 2018 2:37_

@dmreagan I tested this on both Windows 10 and Ubuntu 16.04.
Python Version: 3.6.4
VTK Version: 7.1.1

[2018-09-20 17:10] skoudoro commented on #13
_From @karandeepSJ on March 13, 2018 10:26_

Ubuntu 16.04
Python Version: 3.5.2
VTK Version: 8.1.0

[2018-09-20 17:10] skoudoro commented on #13
Hi @dmreagan,

a potential fix, look at the last answer: http://vtk.1045678.n5.nabble.com/Offscreen-rendering-beyond-screen-resolution-with-WindowToImageFilter-magnification-td5724102.html

[2018-09-20 17:10] skoudoro commented on #13
_From @thechargedneutron on May 4, 2018 21:58_

@dmreagan  Is this issue on Ubuntu as well? Upon changing the size to (6000, 6000) I got a file with a size of (6000, 6000).

[2018-09-20 17:10] skoudoro commented on #13
_From @thechargedneutron on May 4, 2018 22:24_

@skoudoro  very nicely figured the problem. @dmreagan  I have added a patch in my branch [here](https://github.com/thechargedneutron/dipy/tree/window_resolution). Can you please verify if this is working fine since this issue is not there on Ubuntu I guess.

[2018-09-20 17:11] skoudoro opened #14 "dipy test failed on mac osx sierra with ananoda python."
_From @TakafumiYano on May 22, 2018 18:6_

## Description
dipy test failed on mac osx sierra with ananoda python. I installed dipy 0.14 on mac osx with conda command, but it failed to pass the test.

[error log]
FAIL: dipy.viz.tests.test_widgets.test_button_and_slider_widgets
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/ta

[2018-09-20 17:12] skoudoro opened #15 "viz.ui.ListBoxItem2D text overflow"
_From @karandeepSJ on June 17, 2018 7:3_

## Description
If the text provided to a `ListBoxItem2D` object is longer than its width, then the text overflows out of the background and out of the list-box. It should go upto the width and replace the remaining characters by a "..."

## Way to reproduce
[code]

_Copied from original issue: nipy/dipy#1569_

[2018-09-20 17:12] skoudoro opened #16 "viz.ui.FileMenu2D"
_From @MarcCote on August 15, 2018 12:42_

## Description
The `FileMenu2D` class, introduced in #1592, could be refactored to avoid reimplementing scrolling and selection logic that are already done in `ListBox2D` component. Also, the `scroll_callback` is responsible for updating the colors of the text in the slots which seems weird. It would be better if the scroll only tells which slots should b

[2018-09-20 17:13] skoudoro opened #17 "dipy test failed on mac osx sierra with ananoda python."
_From @TakafumiYano on May 22, 2018 18:6_

## Description
dipy test failed on mac osx sierra with ananoda python. I installed dipy 0.14 on mac osx with conda command, but it failed to pass the test.

[error log]
FAIL: dipy.viz.tests.test_widgets.test_button_and_slider_widgets
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/ta

[2018-09-20 17:13] skoudoro commented on #17
This issue was moved to fury-gl/fury#14

[2018-09-27 05:36] skoudoro opened #18 "Improve unit tests"
Currently, tests do not pass on OSx

[2018-10-06 00:55] MarcCote commented on #6
Not sure this issue is still relevant since fury requires vtk8.1 now?

[2018-10-06 01:03] skoudoro commented on #6
The Title is not relevant but I think we still have this error. We have to check this error before.

[2018-11-07 22:32] dmreagan opened #22 "Peak slicer doesn't honor linewidth parameter"
Changing the `linewidth` doesn't change the width of the peak lines. You can change the width manually with

[code]

[2018-11-08 14:56] MarcCote opened #23 "DOC: sphinx_gallery master branch is required"
At the moment, the master branch of sphinx_gallery is needed in order to build the docs (`sphinx_gallery.scrapers` will be missing otherwise). That means installing the `requirements/docs.txt` won't work as it will install sphinx_gallery v0.2.0.

[2018-11-08 17:50] skoudoro commented on #23
Indeed, I think we need to change this part. Maybe we can temporarily add the current sphinx-gallery master on `docs/source/ext`.

Furthermore, we need to find a way to run sphinx-gallery with xvfbwrapper. Currently, we can not test if the tutorials and examples are running correctly on Travis. This is a serious limitation for deploying the docs with Travis.

[2018-11-09 18:53] arokem opened #24 "VTK dependency on installation"
I am getting the following when installing fury with `pip install fury`:

[code]

This is on a Mac with OS 10.14 and Python 3.7. This might be a Python version thing -- it might take a little while until we have VTK for Python 3.7

[2018-11-09 21:31] skoudoro commented on #24
Issue created : https://github.com/KitwareMedical/VTKPythonPackage/issues/28

[2018-11-21 06:41] Garyfallidis opened #26 "Rename Renderer to Scene"
Hello all,

I suggest renaming Renderer to SceneManager or just Scene. We can keep Renderer for backwords compatibility for long time. Scene seems a much more informative name.

I further suggest renaming ShowManager to Show and the same for upcoming TimelineManager to be just Timeline.

[2018-11-21 16:06] skoudoro commented on #26
Hi @fury-gl/fury-dev

Mayavi is using scene so I prefer to avoid it because it can bring confusion. What about Vue, Display, or Board

I agree with this point

👍 +1

[2018-11-21 19:01] Garyfallidis commented on #26
Scene is a common term used across game engines and visualization platforms. We are good.

[2018-11-26 20:41] skoudoro commented on #17
Closing, not any more relevant since Travis pass on fury

[2018-11-26 20:41] #17 closed

[2018-11-26 20:43] skoudoro commented on #14
Closing, not any more relevant since Travis pass on fury

[2018-11-26 20:43] #14 closed

[2018-11-26 20:45] skoudoro commented on #11
duplicate #10, closing

[2018-11-26 20:45] #11 closed

[2018-12-03 03:51] #23 closed

[2018-12-03 16:46] skoudoro opened #33 "Plans for viz module"
_From @Garyfallidis  on June 1, 2018 21:28_

Here some ideas for moving forward with the viz module. These are the notes after a call that I had with @MarcCote.

- [ ]  Currently the UI elements have on_xxx callbacks as attributes that can be set any time. We would like to have something similar for all the different actors too. For now you can connect an actor and it's callback using ShowManager.

[2018-12-03 16:53] arokem commented on #33
Related (I think?) Is there already a `pip install` for Python 3.7 for recent VTK?

[2018-12-03 17:08] skoudoro commented on #33
yes @arokem, see [here](https://pypi.org/project/vtk/8.1.2/#files). they made a new release last week

[2018-12-03 17:10] skoudoro commented on #33
_from @MarcCote on July 23, 2016 18:45_

# Dipy PR's

This document describes the list of Pull Requests that needs to be merge into Dipy's Master. Except stated otherwise the up-to-date code can be found in the branch https://github.com/Garyfallidis/dipy/tree/recobundles.

_This issue is mainly for @Garyfallidis and me to track down which PRs still need to be made._
## Small
### dipy/viz/colormap.

[2018-12-03 17:36] skoudoro opened #34 "Slicer problem + clamping"
_from @gauvinalexandre February 28, 2016 08:15_

I discovered a major contradiction and bug in the value scaling and lookup table making of the slicer feature. I found the way to make it work. Therefore, the behavior of the slicer changed and the test_fvtk_actors fails, probably with reason. It has to be adapted. I'll need help, since I don't know how to interpret the error. Also, there were some

[2018-12-06 16:19] dmreagan commented on #9
FURY requires VTK8+, so we need to test this problem with newer VTK to see if it is still relevant

[2018-12-06 16:30] #5 closed

[2018-12-06 16:33] dmreagan commented on #3
Besides being a question for the now-deprecated `fvtk`, I think this problem is covered by #10.

[2018-12-06 16:33] #3 closed

[2018-12-06 17:31] dmreagan opened #35 "Changes to actors.dots, actor.point, actor.sphere"
FURY has 3 actors which perform similar tasks: `dots`, `point`, and `sphere`. I propose the following changes.

1. Remove `point`. It simply calls `sphere` with different default values. I don't think we need a simpler version of `sphere` as long as we make the options clear in the docs.

2. In `sphere`, rename `centers` to `center`, `colors` to `color`, `radii` to `radius`. If `sphere` is singula

[2018-12-06 19:14] skoudoro opened #36 "Tests Documentation"
- [x] Add instructions for running the tests on the documentation
- [x] Add instructions for running the tests on the main README

[2018-12-06 19:20] skoudoro opened #37 "Fix DeprecationWarning"
We have to fix this 2 warnings:

[code]

[2018-12-09 12:42] arokem opened #38 "The`reset_camera` keyword doesn't do what you'd expect"
See https://github.com/nipy/dipy/pull/1681#discussion_r240018032

[2018-12-12 16:43] dmreagan commented on #1
`fvtk` is not a part of FURY and I couldn't replicate this bug with the newer `window.Scene` and `actor.label`.

[2018-12-12 16:43] #1 closed

[2018-12-12 16:59] dmreagan commented on #4
`fvtk` is not a part of FURY and the newer `actor.contour_from_roi` doesn't have a `voxsz` parameter.

[2018-12-12 16:59] #4 closed

[2018-12-12 17:18] dmreagan commented on #2
`fvtk` is not a part of FURY and I couldn't replicate this bug using the newer `actor.tensor_slicer`, `window.record`, and `window.Scene`.

[2018-12-12 17:18] #2 closed

[2018-12-12 23:12] dmreagan commented on #9
I've confirmed this is still a problem for VTK 8.1.1

[2018-12-13 15:30] dmreagan commented on #7
`actor.scalar_bar` could use a PR to add more customization parameters. We'll want to be careful not to complicate it too much, but we can add a few options like:

- title
- horizontal or vertical
- font size
- bar size

[This blog post](https://blog.kitware.com/color-legend-improvements-coming-to-paraview-5-4/) describes some recent improvements to the ParaView color legends. I hope some of those

[2018-12-13 16:21] dmreagan commented on #35
I think I'm going to vote no on my own bonus idea. If we combine all three into one actor, it could get more complex than we want. We'd also then have to think about combining `actor.line` and `actor.streamtube`. Maybe that is overkill.

Any thoughts on this issue before I move forward, @MarcCote and @ranveeraggarwal?

[2018-12-13 18:19] skoudoro commented on #6
fix by #40

[2018-12-13 18:19] #6 closed

[2018-12-14 03:04] MarcCote commented on #35
I agree with the proposed changes.

Random thought, maybe in the new `point` class (i.e. formerly `dots`) we could add a parameter `3D=False` (of course, find a proper and better parameter's name) which if True call `sphere` accordingly?

[2018-12-15 22:22] vinkirk opened #41 "module 'fury.window' has no attribute 'Scene'"
## Description
Hi,

I am going through the tutorial examples for Fury (version 0.1.4) and while running the code for the example 'Using a timer', I got the following error message:

import fury
import numpy as np
from fury import window, actor, ui
import itertools

xyz = 10 * np.random.rand(100, 3)
colors = np.random.rand(100, 4)
radii = np.random.rand(100) + 0.5

scene = window.Scene()
Traceback

[2018-12-15 22:40] skoudoro commented on #41
Hi @vinkirk,

Sorry for that, This is the dev version of the documentation and not the release version of the documentation.
you can go to http://fury.gl/v0.1.x/auto_tutorials/viz_timers.html for the release v0.1.4 version.
I will update this link asap.

Thank you for this info!

[2018-12-15 22:43] skoudoro commented on #41
TODO
-------
- [ ] add dropmenu for selecting documentation version (latest vs releases vs dev)

[2018-12-15 23:58] vinkirk commented on #41
Thanks @skoudoro!

[2018-12-15 23:58] #41 closed

[2019-01-07 18:53] jhlegarreta commented on #22
In fact, it also happened for the `opacity` as well.

Now, I ignore whether the same happens for the `TensorSlicerActor` or other similar actors as well. In the specific case of the `TensorSlicerActor` although the `opacity` is being passed as an argument, it is not actually being used.

[2019-01-07 20:21] jhlegarreta commented on #37
@skoudoro The second warning is not present in the current build. Also, I have not found references to `fury.window.add` besides those destinated to testing the warning.

As for the second one, they are triggered in [test_actors.py#L770](https://github.com/fury-gl/fury/blob/master/fury/tests/test_actors.py#L770) since the colors have 4 components (RGBA), but the image array has just RGB. I ignore

[2019-01-08 15:46] #37 closed

[2019-01-08 16:26] skoudoro opened #46 "Hide/Ignore numpy_vtk support warning"
As you can see [here](https://travis-ci.org/fury-gl/fury/jobs/476906026#L3289), the warning above appears a lot. Since this warning has been fixed on VTK master, we should hide it.

[code]

[2019-01-09 19:05] dmreagan commented on #22
You're right about the tensor slicer. We should be setting the opacity on the actor's property, as in `line`. This may be a problem for other actors, too, but I haven't yet looked. Feel free to add a tensor slicer fix to #43, or we can make another issue + PR for it.

[2019-01-09 22:04] jhlegarreta commented on #22
I'd go for another, separate PR.

[2019-01-09 23:04] #22 closed

[2019-01-31 17:20] dmreagan opened #51 "Improvements from VTK 8.2.0?"
Kitware has [announced](https://blog.kitware.com/vtk-8-2-0/) the release of VTK 8.2.0. Is there anything FURY should take advantage of?

Relevant bits include:

[2019-02-17 00:09] PDN96 opened #54 "generating directed arrows"
Hello,
I have been trying to generate directed arrows using fury's arrow function but it doesn't seem to work. I ended up writing a function on my own for the same.
I think it would a good addition to fury.

![directed_arrow](https://user-images.githubusercontent.com/13295296/52906652-52bc7180-321e-11e9-9a79-8a4fa442d1c8.PNG)

[2019-02-19 17:59] skoudoro commented on #54
Can you create a PR with the good one and show the bad version? Thank you

[2019-02-22 15:54] #46 closed

[2019-02-25 23:10] #8 closed

[2019-03-17 05:07] skoudoro opened #63 "Improve doc generation"
## Description

Currently, the doc generation works on master but not on a pull request.
This failing is due to access permission when we fetch some GitHub info.

We need to make this point smarter. One solution is to play with Sphinx build option. Look at [sphinx-gallery](https://github.com/sphinx-gallery/sphinx-gallery/blob/9d8a1af2d1dead9b07a40613d6bc2d408263d6db/sphinx_gallery/gen_gallery.py#L

[2019-03-25 15:09] skoudoro opened #64 "Restructuring ui and actors module"
## Description

`ui.py` and `actors.py` start to be huge so it would good to start some thinking on this file restructuration. We need to convert them to package and submodule.

It would be good to do a short meeting (30-45min) this week or next week to talk about it. If you have some suggestion, feel free to describe your proposition here.

What do you think @MarcCote @ranveeraggarwal @Garyfallid

[2019-04-01 17:21] ranveeraggarwal commented on #64
I see a few approaches here:

1. 2D and 3D elements in separate (two) files. But as the elements grow, we'll be back to the same issue.
2. Separate file for each top level elements (the derivative of an element can join the same file). The advantage here is that filenames will document the range of elements we have, but this might suffer from the problem of file bloat in general.
3. Categorize the

[2019-04-22 20:45] Garyfallidis opened #70 "Warning window did not resize in the allotted time"
When changing the size of a window I often get this message (here shown in Ubuntu 18.04)
You can replicate using this tutorial  /home/elef/Devel/fury/docs/tutorials/viz_slice.py

[code]
Basically, run the tutorial with interaction and change the size of the window.

[2019-04-22 22:42] Garyfallidis opened #71 "viz_ui.py example needs expansion"
Currently the many UI components are hidden under one list box which makes it hard to figure out until you actually run the example and interact with it. We need to expand this tutorial to show all major interfaces with multiple figures and also show the File dialogue and load/save options.

[2019-04-25 15:56] skoudoro commented on #63
Fixed by #67 , so closing

[2019-04-25 15:56] #63 closed

[2019-05-09 19:58] scott-trinkle commented on #13
what's the status on this? I'm running into this problem as well.

[2019-05-09 20:07] skoudoro commented on #13
It is fixed on #53, I need to revise and I was waiting for a review.

It will be good if you can review it @scott-trinkle :smile:

[2019-05-20 20:46] #18 closed

[2019-05-23 20:17] Garyfallidis opened #74 "Possibly remove or rename on_change"
Let's say you build a LineSlider2D
[code]
that should work.
But if you want to connect to a specific event. You need to do
[code]
But now callback2 needs a different signature

[code]
It becomes quite misleading to have two types of supported callbacks.
Furthermore, it is strange that the LineSlider needs to call handle_events first. Other UI components do not require that.

Finally, what on_chang

[2019-05-30 00:45] MarcCote commented on #74
I agree callbacks need to be re-think a bit. Here's my rationale behind how it is structured at the moment.

Regarding the specific event you mentioned (button pressed/released/dragged), you need to define what vtk object should observe the event. In your example, it seems you want to set the callback to the left mouse button is released event **of the handle**. Which translates to
[code]
Note the

[2019-05-30 00:50] MarcCote commented on #64
I thought I had already replied to this issue. My bad :(.

I'm all for splitting the huge `ui.py` into multiple files. I don't have a strong opinion about the separation but shorter files are always better IMO.

@ranveeraggarwal about forward declarations, you mean like listing the available classes/components in the `__init__.py` for instance?

[2019-05-30 04:23] ranveeraggarwal commented on #64
@MarcCote yeah importing the available APIs in `__init.py__` sounds right. That would also ensure that we maintain the flat-ness of the UI API (`import x from ui` instead of `import x from ui.component_name`).

[2019-06-07 12:42] skoudoro opened #75 "Improve Checkbox initialisation"
## Description

Currently, it is quite hard to initialize checkbox on a specific state. By default, they are unchecked, but we want them already checked sometimes.

[2019-06-07 12:47] skoudoro opened #76 "Improve Checkbox options access"
## Description

Currently, it is quite hard to get access to a specific options since it is a list. 2 strategies to make it simpler:
1. transform `options` attribute (from list to dict)
2. create a method on `CheckBoxUI` to get access to a specific option

[2019-06-07 12:49] skoudoro opened #77 "contour_from_label"
## Description

like `contour_from_roi`, add the possibility to create the contours of a labeled array.

[2019-06-07 15:08] giulia-berto opened #78 "--random_colors not distinguishable"
When I visualize multiple tracts in .trk format with the flag --random_colors, it is hard to distinguish overlapping tracts since they have similar colors (in the case of 4 tracts, 2 are purple and two are green). It would be better to have distinguishable colors.

[2019-06-07 16:22] skoudoro commented on #78
Thank you for the report @giulia-berto!

Can you have a look @Garyfallidis?

[2019-06-07 17:13] Garyfallidis commented on #78
I think the distinguishable colormap is already being used when  dipy_horizon is being called with random_colors but the randomization seed is fixed. Maybe you need to use a different seed.

[2019-06-07 17:22] Garyfallidis commented on #78
Oh no. Actually we are not using distinguishable colormap. Will fix. Thanks for reporting.

[2019-06-14 09:46] agramfort opened #79 "add link to fury example gallery in sphinx-gallery readme"
it's not a but a suggestion to add link to http://fury.gl/latest/auto_examples/index.html
in sphinx-gallery readme. See for example

https://github.com/sphinx-gallery/sphinx-gallery/pull/504/files

[2019-06-14 10:14] skoudoro commented on #79
Sounds like a good suggestion, thank you @agramfort! Will do as soon as I have access to a computer

[2019-06-17 08:36] Garyfallidis opened #81 "Add superquadric function in actor.py"
Adding a supequadric function should be very similar to the cone function. See here
https://github.com/fury-gl/fury/blob/master/fury/actor.py#L1453

All needs to change is this line
https://github.com/fury-gl/fury/blob/master/fury/actor.py#L1510

To use this class and of course update the parameters
https://vtk.org/doc/nightly/html/classvtkSuperquadricSource.html
Alternatively you can derive the p

[2019-06-18 19:48] scott-trinkle commented on #13
just tested it using the code from your branch. I'm on OSX and it's working if I use the `magnification` keyword to bump the resolution over the screen limit, but not if I try to set the output resolution directly.

[2019-07-01 14:15] skoudoro commented on #79
Done in https://github.com/sphinx-gallery/sphinx-gallery/pull/515. closing

[2019-07-01 14:15] #79 closed

[2019-07-03 07:13] skoudoro opened #82 "GLTF 2.0"
[here](https://blog.kitware.com/introducing-gltf-2-0-support-in-vtk-and-paraview/) some good news about GLTF 2.0 that we need to study and play with.
Potential use for a dynamic scene on our documentation.

[2019-07-03 15:01] dmreagan commented on #82
This doesn't really give any new functionality, since if we want live vtk.js demos on the site we can do that already by [loading .vtk files](https://kitware.github.io/vtk-js/examples/PolyDataReader.html) (or other [already](https://kitware.github.io/vtk-js/examples/STLReader.html)-[supported](https://kitware.github.io/vtk-js/examples/OBJReader.html) 3D formats). However, glTF is supposed to be a

[2019-07-05 18:46] skoudoro commented on #82
ahaha !!!  😄

I find it interesting because of the animation/interaction.  To tell you the truth @dmreagan, I do not know if you can save an interaction/animation on a vtk file and then replay it on vtkjs. Let's see. I need to find time to try it.

[2019-07-09 19:45] skoudoro opened #84 "Test_order_transparent failed with VTK 8.2.0"
## Description

It seems that one of our tests is failing because of VTK 8.2.0. We need to check the color rendering with VTK 8.2 and then, we may have to update this test.

Below, the error that you can find [here](https://travis-ci.org/fury-gl/fury/jobs/556006338#L3339)
[code]

[2019-07-09 20:17] Garyfallidis commented on #84
This order transparency is generally quite sensitive. I am not sure if there is a better way to do this but we should check with Kitware.

[2019-07-09 20:17] Garyfallidis commented on #84
Also some cards do not support it. Maybe there is an update with vtk 8.2.0?

[2019-07-16 11:22] arokem opened #85 "Save from active window?"
It used to be possible to save from an active window by hitting the 's' button. Was that functionality deprecated/altered? How do I now save from an active window?

[2019-07-16 11:58] Garyfallidis commented on #85
Yes, it was removed for generality as some apps could be using s for something else.
Simply add a button and a callback on the button that will call window.snapshot or window.record.

[2019-07-16 12:11] arokem commented on #85
Is there an example of that somewhere? Or even just a simple example of using Button2D? I don't understand what the `icon_fnames` should look like.

[2019-07-16 12:26] Garyfallidis commented on #85
Any image (png) can become a button.
https://github.com/fury-gl/fury/blob/master/docs/tutorials/viz_ui.py#L77

[2019-07-16 12:27] Garyfallidis commented on #85
There should be a save icon in the collections of icons we provide.

[2019-07-16 12:31] #85 closed

[2019-07-16 12:31] arokem commented on #85
Oh perfect - that example is exactly what I needed!

On Tue, Jul 16, 2019 at 5:27 AM Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2019-07-16 12:32] Garyfallidis commented on #85
;)

[2019-07-21 16:21] skoudoro commented on #84
fixed by #87. closing

[2019-07-21 16:21] #84 closed

[2019-07-29 18:27] skoudoro commented on #78
Any update on this @Garyfallidis?  Are you using distinguishable colormap with dipy_horizon?

[2019-07-31 23:23] #13 closed

[2019-08-01 18:45] #36 closed

[2019-08-02 15:29] Garyfallidis opened #95 "Strange behavior in Linux only machines concerning event_recording"
## Description

Some tests fail in Linux and pass in Windows and Mac. Unexpected. Tests pass in Travis too with virtualgl and mesa.

Here are the reported failures in Ubuntu 18.04 64 with Nvidia GeForce GTX 1070 GPU.

[code]

## Ways to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Code example
Just run all the tests
- [ ] Operating system and versions (

[2019-08-02 15:31] Garyfallidis commented on #95
Also what is really strange in Linux is that the tests take much longer to run than in Windows.

[2019-08-02 15:35] Garyfallidis commented on #95
I suggest we revisit the EventCounter too. And snapshot. Snapshot started showing up windows again. Not sure why. This is supposed to work offscreen in stealth mode.

[2019-08-07 02:19] MarcCote commented on #95
I remember also observing that replaying events was slow but at some point (maybe I changed VTK version) it stopped being slow. I haven't used VTK recently, so maybe it has changed again. I'll make time next week to at least try it out on my Linux laptop without a GPU (I don't have a Linux machine with both a GPU and a screen :P).

[2019-08-15 00:08] Garyfallidis opened #96 "Double slider handles not at right position when window starts"
Notice that the handles are not aligned with the track. This happens when the application starts. When the handles are being dragged then they go to the correct position.

![image](https://user-images.githubusercontent.com/134276/63064198-1ff1ee00-bece-11e9-9b62-66c5a6c4c42d.png)

Here is some small snippet to replicate the issue

[code]
@karandeepSJ can you help/advise?

[2019-09-03 17:49] #96 closed

[2019-09-16 21:18] skoudoro opened #108 "Slider vertical layout"
## Description

Currently, the slider layout is only horizontal. It will be good to allow the vertical slider.

[2019-09-27 10:49] schlegelp opened #111 "Question: non-blocking windows"
Quick question: I'd like to be able to interact with a scene programmatically from the Python shell (e.g. add/remove actors). Is there a way to show a non-blocking window?

Thanks!
Philipp

[2019-09-27 13:29] skoudoro commented on #111
Hi @schlegelp,

Currently, it is not possible, but we are working on it. it seems we need to use `vtkGenericRenderWindowInteractor`.
Otherwise, if you do not need to show, you can have differents options:
- use `offscreen` option
- play with timer event like [in this tutorial](http://fury.gl/latest/auto_tutorials/viz_timers.html#sphx-glr-auto-tutorials-viz-timers-py)
- record some event and replay

[2019-09-27 13:30] skoudoro commented on #111
Do you have another idea @Garyfallidis?

[2019-09-27 13:55] Garyfallidis commented on #111
Hi Philip (@schlegelp),
Serge, is correct currently the window is blocking. However, you can have a nonblocking window if you use Qt. Here is an example of how you could do this

[code]

We would love some help in allowing show and ShowManager to switch different backends including Qt. Let us know if you can help.

[2019-09-27 14:00] Garyfallidis commented on #111
In the meantime, we are also working on trying to figure out how to make the default window non-blocking. Not trivial.

[2019-09-30 12:39] schlegelp commented on #111
Thanks for the responses. I'll let you know if I come up with something useful!

[2019-10-03 20:07] Garyfallidis opened #113 "Antialiasing does not work with snapshot but works with Showmanager"
I see this issue in a compiled version of VTK 9.0 (master) in Linux. Let me know if you see the same in other systems.

I suggest we make a save_as or save_fig method directly in ShowManager to do better what snapshot does now.

[2019-10-03 20:23] Garyfallidis opened #114 "Textblock disappears when lod=True in actor.streamtube"
Not sure why this is happening - looks like some potential vtk bug and internal shader conflict.

[2019-10-29 17:33] skoudoro opened #116 "Update Shader system"
We should update our shader system by using `VtkShaderProperty` and `vtkShaderProgram` and not anymore the mapper

[2019-10-30 02:35] skoudoro opened #117 "Remove compatibility with python 2"
Due to python2.7 end of life, we should remove python2.7 compatibility

[2019-10-30 16:45] dmreagan commented on #116
I agree, since it appears that this system allows you to share shader customizations across different mappers. I think `vtkShaderProperty` came in with VTK 8.2.0, so FURY will need a VTK version bump.

[This example](https://lorensen.github.io/VTKExamples/site/Cxx/Shaders/SpatterShader/) may help with the transition, as it shows both the old way and the new.

[2019-10-30 17:20] skoudoro commented on #116
Thanks @dmreagan! I think we should request a VTK PyPI package for 8.2 because it is not currently available.

[2019-10-31 17:16] skoudoro opened #119 "Improve data Serialization"
Due to the possible security issues, we should avoid using `pickle` module for data serialization. `json` is a good alternative.

So we need to do this replacement [here](https://github.com/fury-gl/fury/blob/master/fury/tests/test_ui.py#L3) and [here](https://github.com/fury-gl/fury/blob/master/fury/tests/test_ui.py#L50-L58)

[2019-11-01 03:21] skoudoro commented on #119
fixed by #120

[2019-11-01 03:21] #119 closed

[2019-11-05 05:16] skoudoro opened #121 "Replace md5 by sha2 or sha3 for security issue"
Following [this link](https://docs.python.org/2/library/md5.html), `md5` is insecure and deprecated.

We should update `dipy.data.fetcher.py`, specially [here](https://github.com/fury-gl/fury/blob/master/fury/data/fetcher.py#L75-L107)  and [here](https://github.com/fury-gl/fury/blob/master/fury/data/fetcher.py#L248) for our data.

[2019-11-05 15:29] jhlegarreta opened #122 "Documentation not being rendered correctly"
## Description
The documentation of some methods is not being rendered correctly: the variable name and the type are rendered with no space in between: compare for example the documentation of
[fury.actor.line](https://fury.gl/latest/reference/fury.actor.html#line)
[fury.actor.scalar_bar](https://fury.gl/latest/reference/fury.actor.html#scalar-bar)
[fury.actor.streamtube](https://fury.gl/latest/re

[2019-11-05 15:31] jhlegarreta commented on #122
@skoudoro @Garyfallidis Any insight as to why this is happening?

[2019-11-05 15:44] arokem commented on #121
I don't think that we need to worry too much about the security issues, since we're using the hashes for data validation, not for encryption. But the long-term support is definitely a concern, and reason enough to move.

[2019-11-05 16:17] skoudoro commented on #122
Thank you for reporting that @jhlegarreta.

I do not know the reason yet. It seems it was already the case with the previous fury doc version so need to look a bit deeper to NumpyDoc and Sphinx.

[2019-11-05 17:00] skoudoro commented on #121
Agree, Thank for the feedback.  it was just a reminder 😄.

[2019-11-05 22:34] jhlegarreta commented on #122
May be we are missing the [`numpydoc`](https://pypi.org/project/numpydoc/) or [`Napoleon`](https://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html) extensions to [correctly parse the docstrings](https://docs.python-guide.org/writing/documentation/#writing-docstrings) (look for "sphinx.ext.napoleon" in the latter)?

Napoleon is a [built-in extension](https://www.sphinx-doc.org/en/master

[2019-11-22 20:08] #117 closed

[2019-12-06 05:55] skoudoro commented on #116
Waiting for the new PyPI version...

[2019-12-07 18:39] skoudoro commented on #81
New feature added by #131, closing

[2019-12-07 18:39] #81 closed

[2019-12-10 15:35] lemairecarl opened #133 "window.record always crashes the desktop environment"
## Description
When trying to render to an image using `window.record`, the desktop environment ("cinnamon" or other) crashes and needs to be restarted.

## Way to reproduce

Output of `get_info()`:
[code]

Snippet for reproducing:
[code]

[2019-12-10 16:04] lemairecarl commented on #133
I just found out about `window.snapshot`... it works for my use case. However, `record` would be helpful, since I'd like to produce 2 images with different angles.

[2019-12-10 16:35] skoudoro commented on #133
Thank you for reporting @lemairecarl.

I will try to reproduce but I think we need to find a workout for this point. It looks like the same problem I got with Window CI's so it is related to the `offscreen`. Not an easy fix but we will try our best 😄

[2019-12-10 16:36] skoudoro commented on #133
ok, great! and yes I will still look into it

[2019-12-12 22:24] lemairecarl commented on #133
Seems to me that knowing that one function works but not the other will give you important hints (i.e. what's so different between the two?)
Thanks!

[2020-01-07 23:24] skoudoro opened #135 "Backward compatibilities problem with streamtube"
## Description

After playing with `dipy_horizon`, you can see that streamlines are in Black&White instead of color when you use the master branch instead of the release 0.4.0.

The recent PR (#129) change the original behavior so :

- we have to get back to the original behavior
- find a workaround to manage the new color features  (look at the old one [here](https://github.com/fury-gl/fury/blob/

[2020-01-19 22:04] nasimanousheh opened #137 "Issues with provided spheres"
Hello,

Using ``primitive.prim_sphere(name='repulsion724', gen_faces=False)`` does not provide correct information to then calculate normals. Although symmetric724 does.
Furthermore, ``gen_faces=True`` shifts the sphere away from its center.
Similarly, most provided spheres have the same problem.

Thank you!

[2020-01-21 14:42] Garyfallidis opened #138 "Box, cone etc. to work similarly to superquadric"
Currently the superquadric function uses repeat_primitive_function. The rest of the actors need to change too so they are easier to use.
For example box has a single scale and heights parameter which does not allow to make boxes of different sizes with one call. We should be able to have boxes of different sizes with one call.

[2020-02-04 06:45] bosecodes opened #141 "Kernel dies continuously on running the first code example"
## Description
The jupyter kernel dies continuously whenever I try running the code example(1- Using a timer) that is provided in the docs tutorial on the fury.gl website.

## Way to reproduce
[If reporting a bug, please include the following important information:]
# Code example

import numpy as np
from fury import window, actor, ui
import itertools

xyz = 10 * np.random.rand(100, 3)
colors = np

[2020-02-04 18:36] skoudoro commented on #141
Thank you for the feedback @bosecodes.  Indeed, we have some trouble with Jupyter Notebook. It seems it does not like our callback.
We are still under investigation concerning this point. I suppose if you comment the callback (`showm.add_timer_callback(True, 200, timer_callback)`) but I need to look deeper into it.

[2020-02-05 09:10] bosecodes commented on #141
May I request for the invite link to the slack channel? @skoudoro

[2020-02-05 19:39] skoudoro commented on #141
Hi @bosecodes,

I think you can have access via FURY website:  http://fury.gl/latest/community.html

Let me know if it does not work.

[2020-02-07 14:40] lenixlobo commented on #121
Hello,
I have updated fetcher.py to support sha256 in place of md5.
Could anyone provide the input SHA hash code to test the updated source?

[2020-02-07 16:18] skoudoro commented on #121
The input SHA code is the content of the file. We read the file as a string and generate the code from that

[2020-02-07 17:18] lenixlobo commented on #121
On line 251 in fetcher.py a stored MD5 hash is provided
The function _get_file_md5() computes a hash which is compared in check_md5()  with the stored hash on line 102.

[2020-02-11 19:07] skoudoro commented on #121
fixed by #148.closing

[2020-02-11 19:07] #121 closed

[2020-02-12 23:24] Garyfallidis opened #150 "Re-compute Bounds in Slicer"
When the slicer goes up or down we need to be recomputing the bounds because some of the slices are not immediately visible.

[2020-02-17 01:52] GautamGottipati commented on #108
I would like to work on this issue.

[2020-02-17 01:54] skoudoro commented on #108
ok @GautamGottipati, you can go ahead and tell us if you have any specific questions

[2020-02-17 01:56] GautamGottipati commented on #108
Sure

[2020-02-18 19:07] Saransh0905 commented on #150
Hey! I find fury pretty interesting and I want to contribute to it.So I want to start by solving this issue.
Can you guide me how to start?
Thanks

[2020-02-18 19:24] skoudoro commented on #150
Hi @Saransh0905,

Your first step is to reproduce the error. Can you reproduce it?

- If No,  I recommend you to start looking at the Tutorial and Examples on FURY website, look at [the contributing page](http://fury.gl/latest/contributing_link.html) and how VTK works.

- If Yes, look how to compute bounds in VTK and update the slicer function.

Hope it helps

[2020-02-18 19:26] Saransh0905 commented on #150
Thanks @skoudoro . Is there any IRC channel where I can communicate and ask for help.

[2020-02-18 19:40] skoudoro commented on #150
on the community page of the website, there is a slack link.

[2020-02-19 10:57] subhashsuman01 commented on #77
Hi,
I would like to work on this issue. Could anyone help me get started?

[2020-02-19 11:48] skoudoro commented on #77
Hi @subhashsuman01 ,

Did you try `contour_from_roi` function and do you understand how it works?

- If No,  I recommend you to start looking at the Tutorial and Examples on FURY website, look at [the contributing page](http://fury.gl/latest/contributing_link.html) and how VTK works.

- If Yes, you should be able to generate surface from a label array.

Hope it helps

[2020-02-19 18:20] subhashsuman01 commented on #77
Hi @skoudoro ,
I tried out the contour_from_roi function but I don't know how to get 3D numpy array of data points from a labeled array.

[2020-02-19 19:13] Saransh0905 commented on #150
@Garyfallidis  I  tried to reproduce the issue by adding a loop to  move the slicer in Z direction but I didn't see anything wrong.
![Screenshot](https://user-images.githubusercontent.com/48832748/74866934-b8839200-5379-11ea-85e7-e77a5192980b.png)

What should I do to reproduce the error?

[2020-02-19 20:22] Saransh0905 commented on #75
@skoudoro What could be done to solve this?
Thanks

[2020-02-19 21:36] Garyfallidis commented on #150
Hi @Saransh0905 to see this problem you have to connect the slicer to a slider. As we do here
https://github.com/dipy/dipy/blob/master/dipy/viz/panel.py

[2020-02-19 21:40] Garyfallidis commented on #150
@Saransh0905 you will have to call ComputeBounds in this line to resolve the problem
https://github.com/fury-gl/fury/blob/13809a10cb4a6753f166ef547ac6a087357189ad/fury/actor.py#L167

[2020-02-19 21:41] Garyfallidis commented on #150
The problem basically is that when you start moving the slicer up and down some times it goes out of the field of view and the slices are not visible.

[2020-02-19 21:46] Garyfallidis commented on #150
@skoudoro can you provide @Saransh0905 with the one-liner to compute bounds and update the field of view. @Saransh0905 let me know if something is not clear.

[2020-02-20 10:42] Saransh0905 commented on #150
Thank you so much @Garyfallidis I understood the problem

[2020-02-20 10:50] Saransh0905 commented on #150
Now to solve this we have to recalculate the bounds .
Is this GetBounds different from ComputeBounds you mentioned https://github.com/fury-gl/fury/blob/13809a10cb4a6753f166ef547ac6a087357189ad/fury/actor.py#L2033

[2020-02-20 13:20] Saransh0905 commented on #71
@Garyfallidis Can you tell what is File dialogue and load/save options in this context?

[2020-02-20 15:51] skoudoro commented on #71
Hi @Saransh0905,

The goal of this issue is to split `viz_ui.py` tutorial into many tutorials.  Explicit better than implicit and this current tutorial hides too many functionalities currently.

So if you want to fix this issue, you need to create many UI tutorials

[2020-02-22 15:01] Pabla007 opened #155 "There are libraries we have to install not mentioned in the requirement.txt file to run the test case."
## Description
[Please provide a general introduction to the issue/proposal.]
pip install nose
pip install pytest

[If reporting a bug, attach the entire traceback from Python and follow the way to reproduce below]
Otherwise you many get into the following error so please add this in the requirement.txt
[If proposing an enhancement/new feature, provide links to related articles, reference examples

[2020-02-22 15:13] skoudoro commented on #155
Hi @Pabla007,

Thank you for this information. Requirements file for dev are in this folder: https://github.com/fury-gl/fury/tree/master/requirements

I agree with you that we need to add this information to the website. Feel free to create a Pull Request with this information.

[2020-02-23 15:31] Nibba2018 opened #159 "MouseWheelForwardEvent FAILED"
## Description
While running tests using `pytest -svv fury`, one of the tests specifically this one is failing.
It's a fresh environment built using conda.

Part of the output concerning this issue:
[code]

Entire Output of the command can be found [here](https://pastebin.com/JWTsFc3A).

### Code Example:
running the command: `pytest -svv fury`

### OS Info and Version
{'fury_version': '0.4.0.post

[2020-02-23 16:27] Nibba2018 opened #160 "Saved Images are vertically Inverted"
## Description
Images saved by fury.window.record() are inverted vertically.

### Code example:
[code]
### Relevant Image:
![Inverted Image](https://ibin.co/5DLHfDW86mgi.png)

### OS Info and Version
{'fury_version': '0.4.0.post133+g13809a1',
'pkg_path': '/home/nibba/GSoC/fury/fury',
'commit_hash': '13809a10cb4a6753f166ef547ac6a087357189ad',
'sys_version': '3.7.6 (default, Jan 8 2020, 19:59:22) \n

[2020-02-25 10:34] Saransh0905 commented on #138
@Garyfallidis
We can make cubes of different sizes by specifying cube height and centers array like:
`from fury import window, actor`
`scene = window.Scene()`
`centers = np.array([[1,1,1],[1.8,1.8,1.8],[2.3,2.3,2.3]])`
`dirs = np.array([1,1,1])`
`heights = np.array([1,1.2,1.4])`
`cube_actor = actor.cube(centers, dirs, (1, 1, 1), heights=heights)`
`scene.add(cube_actor)`
`window.show(scene)`
Or is

[2020-02-25 12:40] Nibba2018 commented on #160
@skoudoro can you hint me where I should be hunting for this bug?

[2020-02-25 13:56] Nibba2018 commented on #159
Note: Installing `nose` doesn't help.

[2020-02-25 16:18] Nibba2018 commented on #7
Should I add a PR for `horizontal/vertical`, 'font-size' and 'bar-size' for `actor.scalar_bar`?

[2020-02-25 17:18] skoudoro commented on #7
Hi @Nibba2018,

Yes, you can go ahead, just be careful on the design.

[2020-02-25 17:20] skoudoro commented on #159
Can you downgrade to VTK 8.1.2?  Maybe something change on VTK 8.2.0.

[2020-02-25 17:22] skoudoro commented on #160
The bug appears on `window.record(scene)` so we should inspect this

[2020-02-25 21:51] Garyfallidis opened #166 "Build Native File Dialogs"
You can use FileMenu to build a dialogue and load, save files from the disk. One issue is that if a path is too long will not fit the window. Here is an example.

[code]

[2020-02-26 14:28] Nibba2018 commented on #159
@skoudoro downgrading VTK to 8.1.2 didn't help :cry:

[2020-02-26 14:38] Nibba2018 commented on #166
So, our objective is to implement text wrapping for Panel2D, right?

[2020-02-26 14:40] skoudoro commented on #159
ok, I need to figure out why it works or not on some machine. There is something strange related to the machine or the screen. I tested on 3 different Linux machine and it works 2 over 3 machines. This is not an easy fix.
Sorry about that

[2020-02-27 11:49] skoudoro commented on #71
Fixed by #153. Closing

[2020-02-27 11:49] #71 closed

[2020-02-28 16:17] Nibba2018 commented on #15
@skoudoro Is this issue open? Do I work on this?

[2020-02-28 16:22] skoudoro commented on #15
Yes, it is still open, and yes, you can work on it

[2020-02-28 16:23] skoudoro commented on #166
related to #15

[2020-02-28 17:37] Pabla007 commented on #160
@skoudoro I have gone through the code i think there is problem in the **arr** after reshaping it.
So i have gone through the **save_image** code and made some changed  in the pillow  code and got the image as aspected. But i am failing the test case.

![result1](https://user-images.githubusercontent.com/35897183/75571235-cb374e80-5a7e-11ea-9448-71995cfd9fac.PNG)
![failing](https://user-images.git

[2020-02-29 13:15] Pabla007 opened #172 "window.show() is giving Attribute error."
Description
window.show( ) when i was running the **viz_slice.ipynb** example i was testing different options like window.record() and window.snapshot() they are working fine. But when i use window.show() and click on the image it produces this error.

Way to reproduce
Code example
window.show(scene, title='FURY', size=(300, 300), png_magnify=1,
            reset_camera=True, order_transparent=Fal

[2020-02-29 13:36] skoudoro commented on #172
Duplicate nfrom #160, closing

[2020-02-29 13:36] #172 closed

[2020-03-02 17:07] skoudoro opened #175 "LineDoubleSlider2D vertical layout"
This is a follow up of #165 and #108.  We almost have the Vertical layout for the `LineSlider`, it will be good to have it for the `DoubleLineSlider2D` too

[2020-03-02 17:16] skoudoro opened #176 "Allowing to change text position on Sliders"
Currently, the text position is by default:

- below the slider on the horizontal slider.
- on the left of the slider for a vertical slider.

it will be good to offer the possibility to be
- on the top of the slider for the horizontal slider
- on the right of the slider for the vertical slider

[2020-03-03 13:28] PaulNicolasHunter commented on #176
I have raised a PR for this issue, where I've addressed a slight change for the horizontal slider.
I think for the vertical slider, #165 is not merged yet.

Let me know if you wan't any other workaround,

[2020-03-03 14:44] skoudoro commented on #176
Thank you @PaulNicolasHunter for looking into it. I will look at your PR

[2020-03-03 15:21] #108 closed

[2020-03-03 18:41] Garyfallidis opened #179 "Utility functions are needed for getting numpy arrays from actors"
We need utility functions for the following functions that we are using a lot.
[code]
The functions should move to utils. or transform.
I suggest names such as vertices_from_actor, modify_actor and compute_bounds.
We should have something similar for faces too. faces_from_actor.

[2020-03-04 15:27] Nibba2018 commented on #175
Hello, may I work on this next?

[2020-03-04 15:39] skoudoro commented on #175
Yes @Nibba2018, sounds like a good plan!

[2020-03-04 15:44] skoudoro commented on #54
Fixed, closing

[2020-03-04 15:44] #54 closed

[2020-03-05 03:43] ibrahimAnis commented on #166
Hiiii @skoudoro I have created a pull request regarding Native File Dialog. Let me know if it is ok.

[2020-03-05 15:55] ChenCheng0630 commented on #150
Hi, I see there is no further updates on this issue, so plan to contribute to solving this issue.

I think this is the problem @Garyfallidis trying to solve right?
<img width="392" alt="Screenshot 2020-03-05 at 10 54 33 PM" src="https://user-images.githubusercontent.com/44283369/75999063-ad656000-5f3c-11ea-97e3-36a6d5c6e63a.png">

[2020-03-05 15:58] skoudoro commented on #150
Hi @ChenCheng0630,

It seems you can reproduce the issue which is good! So feel free to fix this issue! Nobody seems to work on it right now

[2020-03-05 18:44] Gs-001 commented on #179
I would like to work on this issue. I'll read through and code and documentation and get back to you if there's any doubt.
Do the discussions generally take place here or on the IRC ?

[2020-03-05 18:45] grestonian commented on #77
Hi @skoudoro, I would like to work on this issue and go through the code and documentation about contour_from_roi function and will get back to you if I face any doubts. Is there any IRC where we can connect?

[2020-03-06 14:45] ibrahimAnis commented on #166
Hiiii @Garyfallidis  I need a favor here. Can I propose a new UI for file dialog. I have made PR for text overflow and I am working on creating tests. Let me know if it is ok to propose a new design for file dialog box

[2020-03-07 11:02] ChenCheng0630 commented on #150
Hi @skoudoro ,
After investigating on this issue for one whole day, I finally got a better understanding of the problem.

I tried to print out the bounds of the slice while moving the slider, the bounds are all correct, they stay as what they should be no matter how I move the slider.

Once I stopped moving the slider, and started to interact with the scene(rotate and zoom), the entire slice becam

[2020-03-07 22:34] #15 closed

[2020-03-07 22:34] #166 closed

[2020-03-08 06:48] PaulNicolasHunter commented on #176
@skoudoro I've made another PR #189, I've made text adding more dynamic and added tutorials and tests, however, I can't find why it is failing at Travis.
Any guesses?

[2020-03-08 14:57] ChenCheng0630 commented on #75
@skoudoro
Hi, I made some changes to allow users to pre-select checkboxes.
Pls have a look when you have time :)

[2020-03-08 18:16] skoudoro commented on #150
Interesting, Thank you for this complete explanation! I would like to see @Garyfallidis opinion before proposing a solution for this issue

[2020-03-08 18:27] skoudoro commented on #75
Nice @ChenCheng0630!  You can look at my first review but more coming

[2020-03-09 09:58] ChenCheng0630 commented on #114
To better illustrate the issue:

This is when the streamtube actor is just a **vtkActor**(lod=False), we can see the TextBlock2D is visible.

<img width="668" alt="Screenshot 2020-03-09 at 12 39 37 PM" src="https://user-images.githubusercontent.com/44283369/76201692-98cfe300-622e-11ea-9db6-7ac48dc4c398.png">

This is when the streamtube actor is a **vtkLODActor**(lod=True), we can see the TextBloc

[2020-03-10 14:21] ibrahimAnis commented on #16
Can I work on this pull request

[2020-03-10 14:33] ibrahimAnis commented on #179
Hiiii @skoudoro I have made some changes as you suggested. Can you see my PR #187 and give me feedback so that I can improve

[2020-03-10 14:46] skoudoro commented on #179
Hi @ibrahimAnis, you did not address all my suggested comments. Can you fix them? Thank you

[2020-03-10 17:33] #160 closed

[2020-03-10 19:00] namanb009 commented on #133
I am also taking a look at the issue. window.record() is clearly not working.

[2020-03-11 00:05] #122 closed

[2020-03-11 00:05] #155 closed

[2020-03-11 06:13] Saransh0905 commented on #113
I am working on this.

[2020-03-11 13:57] hnumair commented on #159
Tried on fresh pip based virtual environment
Failing on that too

[2020-03-11 14:21] ibrahimAnis commented on #179
I have done it. I don't think I made a good testcase for update_actor() and compute_bounds(). Could you check it and give me feedback . Please!

[2020-03-11 22:00] nmnaughton opened #196 "window.snapshot() memory leak?"
I am new to fury and am trying to use it to make a video of streamlines that are changing in time. To do this I am saving a .png for every frame and then later stitching them together using ffmpeg.

When I save the images by looping through streamlines for each timestep, it seems like fury does not release the memory associated with saved images. This leads to memory accumulation as the loop runs,

[2020-03-11 23:34] hnumair commented on #7
Are you still working on this @Nibba2018 ?

[2020-03-11 23:44] skoudoro commented on #7
I think you can go ahead @hnumair and fix this issue

@Nibba2018 , If you want to work on something else, you can update RangeSlider like you did for DoubleLineSlider

[2020-03-12 00:23] hnumair commented on #95
Well, I've been using fury for about a week on my Linux machine but it's not showing up any OS related problems. All the tests are passed too except #159 which again is not a Linux issue. Here is my get_info output:
``` {'sys_executable': '/usr/bin/python', 'fury_version': '0.4.0.post252+g4dbc3cc', 'numpy_version': '1.16.6', 'sys_platform': 'linux2', 'sys_version': '2.7.17 (default, Nov  7 2019, 1

[2020-03-12 08:05] Nibba2018 commented on #7
@hnumair No you can go ahead with it.

@skoudoro Ok :+1:

[2020-03-12 14:33] skoudoro commented on #196
Hi @nmnaughton,

Thank you for this nice report and your example. We will look into it and let you know as soon as possible.

Can you give us your FURY version?

We know that a list of Numpy array creates a memory leak. This is why we created the `ArraySequence` object on Nibabel package or the sister `Streamlines` object on DIPY.

So it could be the main reason for your problem but we need to che

[2020-03-12 15:42] nmnaughton commented on #196
Thanks for your help on this.

I am using version 0.4.0

I get similar behavior if I use `bundle = dipy.tracking.streamline.Streamlines()` instead of `bundle = []` so I am not sure if that is it.

Also, the memory size is substantially larger than 200x the size of my streamline data or the size of the saved images (18 MB total), so it seems some intermediary state is accumulating the memory.

My c

[2020-03-12 15:44] Garyfallidis commented on #196
And what VTK version. fury.get_info() should provide that information.

[2020-03-12 15:49] nmnaughton commented on #196
8.1.2.

Here is the whole output
[code]

[2020-03-13 15:34] #176 closed

[2020-03-13 17:39] Nibba2018 opened #199 "Loading of Inverted icons using read_viz_icons"
![image](https://user-images.githubusercontent.com/29832615/76645645-6b14d200-657f-11ea-9860-4a7e3040aeee.png)

Icons loaded by read_viz_icons are inverted when displayed.

### Code snippet:

[code]

[2020-03-13 17:49] skoudoro commented on #199
Thank you for this feedback @Nibba2018!

we will look into it. we need to update `read_viz_icons` and add a test. it should have failed.

[2020-03-14 07:03] Nibba2018 commented on #199
Is this somehow related to the bug which inverted images while saving?

[2020-03-14 08:07] namanb009 opened #202 "Window Title name does not change"
window.show(scene, titile="Window Name") does not change the name of the window.
Also, the default name of the window should be "FURY", but when a window is called, its name is "Visualisation Toolkit".

[2020-03-14 13:03] skoudoro commented on #199
It is fixed on my PR #201

[2020-03-14 13:13] #175 closed

[2020-03-14 21:02] skoudoro commented on #202
Hi @namanb009,

good catch for the windows title. I think, this problem only appears on Windows and macOS. It should work well on Linux, I need to check.

[2020-03-14 21:52] #199 closed

[2020-03-15 17:30] skoudoro opened #205 "Create a tutorial for checkbox/radiobutton UI"
Currently, there is no existing Tutorial for `CheckBox`and `RadioButton` UI. We need to create a small one to show this feature as we did for the sliders.

[2020-03-15 18:25] PaulNicolasHunter commented on #205
cool, I'll have a look.

[2020-03-16 05:09] #75 closed

[2020-03-16 07:00] namanb009 commented on #202
Thank you @skoudoro

I am using the following config:
Windows 10
Python 3.5
VTK 8.1.2

[2020-03-16 19:22] #202 closed

[2020-03-17 14:44] skoudoro commented on #196
Sorry for getting back late to you.

I confirm the memory leak and we will try to fix it before the release this week.

Again, thank you for the feedback!

[2020-03-18 14:45] Nibba2018 commented on #205
@PaulNicolasHunter  are you working on this?

[2020-03-18 15:30] PaulNicolasHunter commented on #205
@Nibba2018 hi, actually I had some tasks rolled up, so, I was thinking to start working on this before the weekend hits, probably on Friday.

[2020-03-18 16:39] Nibba2018 commented on #205
@PaulNicolasHunter Okay cool :+1:

[2020-03-18 18:27] PaulNicolasHunter commented on #205
@skoudoro, I've added a tutorial for RadioButton UI, I've played around with the colors of the cube with it.
Let me know if it's cool or you want me to implement some other idea for the ease of the tutorials.

[2020-03-18 18:51] skoudoro commented on #205
ok, I will look into it and let you know on the PR. But it sounds promising!

[2020-03-19 20:45] Nibba2018 commented on #196
It looks like an interesting issue. How do you approach such memory leaks?

[2020-03-19 20:56] Nibba2018 commented on #135
@skoudoro I don't think I understand the issue properly. Are the streamlines black & white even though the default parameter is RGB?

[2020-03-19 21:08] Nibba2018 commented on #77
hello @skoudoro , what exactly do you mean by a labeled array? can you give an example?

[2020-03-19 22:01] skoudoro commented on #135
I am working on this issue, no worries ;-) thank you

[2020-03-19 22:04] skoudoro commented on #77
I think the tutorial below explains well what is a label array:

https://www.mathworks.com/help/images/label-and-measure-objects-in-a-binary-image.html

[2020-03-20 08:56] Nibba2018 commented on #135
@skoudoro  Great :+1:

[2020-03-21 10:16] Nibba2018 commented on #77
@skoudoro Thank you the information. Could you provide me an example so that I can test my implementation?

[2020-03-22 05:20] ibrahimAnis commented on #179
Hiiii @Garyfallidis  I have been working on creating test file for compute_bounds() function adn update_actor() function and I have found that the ComputeBounds() function is not defined in any header file. Instead GetBounds() function is defined and it is also widely used in fury. So can I make a function that returns the bounds of actor. The implementation would be something like this
actor.GetM

[2020-03-22 05:21] ibrahimAnis commented on #179
Please reply soon. @skoudoro  I would like to have your feedback about it.
Thanks

[2020-03-22 05:34] skoudoro commented on #179
Hi @ibrahimAnis,

`actor.GetMapper().GetInput().GetBounds()` is not needed yet so do not implement it.

What do you mean? Did you look at this link: https://vtk.org/doc/nightly/html/classvtkDataSet.html#a261a4f32cd2f8ff336c2d85cc33d21ae

Your PR is on my TODO list. This PR looks simple but needs some time to check it in detail. This is why I did not do it yet. I will try tomorrow or on Monday.

[2020-03-22 05:52] ibrahimAnis commented on #179
![computeBounds](https://user-images.githubusercontent.com/31585047/77243371-55fb0b80-6c2f-11ea-8580-ada88af1dcfe.png)

You can see only this much is written in header file

[2020-03-22 05:54] ibrahimAnis commented on #179
Is there any lib file where all the definitions are defined ?

[2020-03-22 05:59] skoudoro commented on #179
You can find what you need on vtk gitlab.

But I am trying to understand what is your goal?

[2020-03-22 05:59] ibrahimAnis commented on #179
can you please share the link

[2020-03-22 06:03] ibrahimAnis commented on #179
Actually I want to know how ComputeBounds function works so that I can make test file for it

[2020-03-22 06:09] ibrahimAnis commented on #179
Can you please share the link where I can see the definition of functions defined in vtkPoint.h header file

[2020-03-22 06:15] ibrahimAnis commented on #179
I got it. Thanks for your help

[2020-03-24 11:40] agent87 commented on #137
@nasimanousheh do you have the code to the error?

[2020-03-26 05:24] #179 closed

[2020-03-26 09:35] gauravtirodkar commented on #141
@skoudoro I would like to work on this issue. Can you guide me on how to go about it?

[2020-03-27 13:23] devmodi154 commented on #76
Hey @skoudoro ! Can I work this issue?

[2020-03-27 15:04] skoudoro commented on #76
yes, you can @devmodi154

[2020-03-27 17:04] devmodi154 commented on #76
#217

[2020-03-27 17:06] devmodi154 commented on #76
#217

[2020-03-27 17:07] devmodi154 commented on #76
#217

[2020-03-28 05:11] ibrahimAnis commented on #113
Can I work on this PR @skoudoro

[2020-03-30 05:47] csharp489 opened #219 "Issue occur when I Start testing the project"
When I start running the test, it gives me these errors .Please help me
code:
`pytest -svv fury`
Output:
[code]

Please let me know why this error is occurring.

[2020-03-30 06:05] Nibba2018 commented on #219
Have you installed the required dependencies correctly?

[2020-03-30 14:12] skoudoro commented on #219
Hi @csharp489,

I agree with @Nibba2018. It seems you have the wrong version of scipy

[2020-03-30 14:56] csharp489 commented on #219
I have created a first.py file with the code given by @Nibba2018
![TestScipy](https://user-images.githubusercontent.com/42842260/77926843-39f90900-72c4-11ea-9a65-15a8ad448fa9.PNG)
@skoudoro @Nibba2018 please check the output.

[2020-03-30 15:11] Nibba2018 commented on #219
@csharp489  Try to bump up your *Python* version to `3.7` or *scipy* version to `1.4.1`.

[2020-03-30 15:17] skoudoro commented on #219
No need to bump python version but we need to check for scipy and it's transform module. I'm still surprised

[2020-03-30 16:47] skoudoro commented on #219
ok, I just checked,  `transform` module is available from Scipy 1.2. However, you have Scipy 1.1.0. So :

- you need to update you Scipy version
- we need to create a PR and update Scipy minimum version.

Thank you for the feedback.

[2020-03-30 17:37] Nibba2018 commented on #219
@skoudoro Yes scipy v1.2 has the required module. Should I make a quick PR to bump the scipy version?

[2020-03-30 17:43] csharp489 commented on #219
@skoudoro Thankyou for your instant reply .Now it has been fixed.
I have updated the Scipy module using this command
`pip install --upgrade scipy`

[2020-03-30 17:52] csharp489 commented on #219
It is running fine.
![imageScipy](https://user-images.githubusercontent.com/42842260/77944801-31f99300-72dd-11ea-8f91-e63203a53e5d.PNG)

[2020-03-30 18:08] skoudoro commented on #219
Great @csharp489!

yes, you can go ahead @Nibba2018. It should be a quick and fast PR to create and merge.
Then we can close this issue.

[2020-03-30 19:03] skoudoro commented on #219
fixed by #220, closing

[2020-03-30 19:03] #219 closed

[2020-03-31 07:39] oishika10 opened #221 "Integrate Manim with Fury"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-31 07:44] oishika10 commented on #221
Manim is an open-source software started by the YouTube channel 3Blue1Brown that aims to create MAth ANIMations. In most of the videos he uses these animations to visualise matrices, and matrix operation on a 2D/3D plane. But the 3D renderings are not always very easy to understand.

Integrating FURY into Manim, we can make 3D animations for maths concepts easier, most notably by creating types of

[2020-03-31 13:34] skoudoro commented on #221
Hi @oishika10,

That is a great idea! We plan to have an animation module so for sure we will look into this. Feel free to initiate the process, we are interested.

Looking forward to seeing your PR!

[2020-03-31 14:05] oishika10 commented on #221
Hey how can I reach out to you via email?

[2020-03-31 15:50] Garyfallidis commented on #221
https://grg.sice.indiana.edu/people/

[2020-03-31 20:11] #76 closed

[2020-04-01 00:37] skoudoro opened #226 "Adding DoubleClick event"
As suggested by [this comment](https://github.com/fury-gl/fury/pull/222#discussion_r401137696), It would be good to add the DoubleClick feature. This callback can be really useful for many UI elements.

[2020-04-01 00:37] #137 closed

[2020-04-01 09:41] Nibba2018 commented on #226
I would like to work on this issue.

[2020-04-01 18:25] skoudoro commented on #77
fixed by #210, closing

[2020-04-01 18:25] #77 closed

[2020-04-01 22:26] #135 closed

[2020-04-01 22:48] skoudoro opened #228 "update Colors / Position / Polydata "array on the fly""
We should allow changing colors/positions/etc of an actor more easily. We need to create a new generic function like `set_polydata_colors` to manage.

[2020-04-01 22:49] skoudoro commented on #150
Closing this issue, we should update this on DIPY directly. Thank you @ChenCheng0630 for your analysis.

[2020-04-01 22:49] #150 closed

[2020-04-02 05:34] PaulNicolasHunter commented on #228
This feature will really help with issue #205 and the respective PR #208, I think I should have a look at this.

[2020-04-02 15:21] skoudoro commented on #228
Yes, it will help a lot, but @Garyfallidis knows how to fix it quickly

[2020-04-02 15:44] oishika10 commented on #221
Thanks!

[2020-05-11 12:12] vivekvj18 commented on #205
Can I Do This Task...#205?
@skoudoro

[2020-05-11 15:42] skoudoro commented on #205
Hi @vivekvj18,

Thank you for asking, there is already someone working on that as you can see on #208.
I will try to add more beginner-friendly issue this week. So check regularly [**good first issue tag**](https://github.com/fury-gl/fury/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)

[2020-05-15 15:46] Garyfallidis opened #242 "Standardize colors across API"
Some times we use colors between 0-1 and others between 0-255.  We should use the same range across the API.

[2020-05-15 15:56] mlraglin opened #243 "Single Color in Primitive Does Not Work"
## Description
Assigning a single color to colors in get_actor_from_primitive does not copy the colors to each vertex.

## Way to reproduce
[code]

[2020-05-27 14:52] dmreagan opened #247 "PR idea: create SDF alternatives to FURY primitive actors"
Create SDF versions of common shapes like sphere, cone, cylinder, arrow, and superquadric.

Architecture question: how should these be implemented?

* single SDF actor: `sdf(type='arrow')`
* many separate new actors: `arrow_sdf`, `cone_sdf`, ...
* SDF options within the existing actors: `arrow(sdf=true)`

[2020-05-27 14:58] skoudoro commented on #247
I vote for :
-single SDF actor: `sdf(type='arrow')`

[2020-05-28 07:30] lenixlobo commented on #247
1. Should I proceed with adding the SDF actors in actor.py ? or create a few sdf.py script?
2. Should I apply the shader to the box_actor primitive?

[2020-05-28 16:23] skoudoro commented on #247
yes,  in `actor.py`. do not create a new file

yes @lenixlobo

[2020-06-07 17:27] dmreagan opened #251 "Developer installation instructions should describe -e option"
The installation instructions for developers say to do `pip install .` or `pip install -e .` without explaining the difference between the two. I think the instructions should either remove the first option or make it clear what each option does.

https://github.com/fury-gl/fury/blob/master/docs/source/installation.rst

[2020-06-08 00:06] MarcCote opened #253 "Programs with timers hang on exit. [VTK9] [Linux]"
## Description
With VTK9 on Ubuntu 18.04 programs that use timers (sometimes) hang on exit. Also, if it doesn't hang, I get this error message:
[code]

I was able to track the issue to https://github.com/fury-gl/fury/blob/master/fury/window.py#L661 where timers get destroy on exit. That line was introduced in https://github.com/fury-gl/fury/pull/97 by @Garyfallidis. I'm not sure why timers get des

[2020-06-09 16:27] MarcCote opened #254 "unexpected order transparent behavior [VTK9] [Ubuntu 18.04]"
Also, `pytest -svv fury/tests/test_window.py::test_order_transparent` is failing on VTK9.
Here's the screenshot corresponding to the following line in the test
[code]
![green_front](https://user-images.githubusercontent.com/660004/83987029-dc5cea80-a90c-11ea-97f6-ff0db7f1e9ba.png)

compared to what we had for VTK <9
![green_front](https://user-images.githubusercontent.com/660004/83987089-11693d00-

[2020-06-10 16:08] Nibba2018 opened #257 "ListBox2D resize implementation"
**Is your feature request related to a problem? Please describe.**
Implemention of `resize` method for ListBox2D.

**Describe the solution you'd like**
Executing `listbox.resize((width, height))` should resize the listbox accordingly.

**Additional context**
This method will be useful for ComboBox2D and FileMenu2D as well.

[2020-06-13 20:33] dmreagan opened #260 "Changes to shader API in VTK 9"
When running FURY shader code with VTK 9, I now see warnings like this:

[code]

The new implementation comes from [this commit](https://github.com/Kitware/VTK/commit/1b005a294d34f5628dc029fa943047cff9629f22), where the new classes and some examples of their use can be found.

We probably don't need to do anything until:

- FURY moves to a requirement of `vtk>=9.0.0` or
- VTK removes the feature i

[2020-06-13 22:19] #251 closed

[2020-06-13 22:20] #254 closed

[2020-06-13 22:27] skoudoro commented on #260
Indeed, we need a shader API to manage all of them. Thank you for pointing that

[2020-06-15 10:07] tushar5526 commented on #242
Hey, I want to work on this, so what convention should I use `0 - 1` or `0 - 255` ?

[2020-06-25 01:57] skoudoro commented on #253
VTK released 9.0.1 and there is wheel for Linux, Windows and Mac.

Can you check if you still have the problem @MarcCote?  I think we can close this issue.

[2020-06-25 03:47] MarcCote commented on #253
So, VTK 9.0.1 indeed solved the `TimerEvent` issue but not the error message I get when manually deleting the timers.
[code]

[2020-06-26 17:59] Nibba2018 commented on #253
Hello @MarcCote , I tried running some programs on both Windows and Linux and found that the `VTK warnings` that are generated are shown in a different window in windows, whereas the same window doesn't show up in Linux. The following error is shown at the end of such a program. Maybe if we can fix it by preventing the Warning Window from generating in the first place.

[2020-07-11 21:12] #253 closed

[2020-07-11 21:44] skoudoro commented on #51
After VTK 9 release, closing this issue

[2020-07-11 21:44] #51 closed

[2020-07-14 13:26] Nibba2018 opened #264 "Re-implementation of Text Overflow in ListBox2D"
## Description
Due to the newer implementation of TextBlock2D and its size property in #248 , the Text Overflow bug fix previously implemented in #173 isn't relevant anymore and therefore needs to be re-implemented. #173 was a workaround for the incorrect size calculation given by `TextBlock2D.size`, but the current implementation provides the correct value.

## Way to reproduce
- [x] Code example

[2020-07-14 13:31] skoudoro commented on #264
Good catch! Are you working on it?

[2020-07-14 13:34] Nibba2018 commented on #264
@skoudoro Should I work on this or should I continue with ComboBox and Tab UI?

[2020-07-14 13:57] skoudoro commented on #264
1. Combobox
2. Fix this issue
3. back to Tab UI

[2020-07-16 21:39] #138 closed

[2020-07-19 16:10] #247 closed

[2020-07-19 20:51] #264 closed

[2020-07-21 17:10] skoudoro opened #270 "Disable VTK Warnings on release version"
# Problems

VTK warning window can afraid users. It should be ok for developers.

# Solutions

Disable VTK warning windows on the release version only. Test [this solution](https://discourse.vtk.org/t/how-to-disable-vtkoutputwindow/242) and check on `fury/__init__.py` if the version is a release or not

[2020-07-22 17:34] nasimanousheh opened #271 "Some issues with actor.box after release 0.6.0"
Hello,

- In actor.py, the parameter "scale" in box should be "scales" (lines 1600 and 1611);
- The colors should be at the range of [255, 0, 255]. Otherwise it does not work.

Thank you all for the great work pushing this forward!

[2020-07-22 17:39] nasimanousheh commented on #271
Also RGBA  is not working in colors parameter of the box. RGB works.

[2020-07-22 18:09] skoudoro commented on #271
Thank you for the feedback @nasimanousheh.

This issue is related to #242. `Bo`x is not the only actor with this issue. We need to normalize this point in FURY.

concerning RGBA, I supposed all primitives have this issue. We need to look deeper into it. Seems related to #269

[2020-07-24 12:20] lenixlobo opened #274 "SDF rendering bug for low scale values"
In the SDF actor, when the scale of the actor is set below 0.01 some deformation is observed. As the value is further decreased, the deformation gets worse

[2020-07-24 12:40] lenixlobo commented on #274
Example : for no. of actors = 100000, scale = 0.001
![bug1](https://user-images.githubusercontent.com/20311706/88391950-ca5ddb00-cdd8-11ea-8ecb-6ada27356c5b.png)

[2020-08-05 16:13] Nibba2018 opened #280 "Unable to extract colors from a Box"
## Description
`fury.utils.colors_from_actor` method returns `None` on actors rendered by `fury.actors.box`

## Way to reproduce
- [X] Code example
[code]
- [X] Operating system and versions (run `python -c "from fury import get_info; print(get_info()"`)
`
{'fury_version': '0.6.0.post40+g7335ca5', 'pkg_path': 'D:\\GSoC\\fury\\fury', 'commit_hash': '7335ca5b76f5fa91d93484e0ed31b24f47397289', 'sys_v

[2020-08-12 14:11] #280 closed

[2020-08-12 18:22] #242 closed

[2020-08-12 18:22] #243 closed

[2020-08-12 18:22] #271 closed

[2020-08-17 17:24] skoudoro commented on #205
Fixed by #281. Closing

[2020-08-17 17:24] #205 closed

[2020-08-18 14:42] skoudoro opened #291 "Check and fix experimental folder"
## Description

Since VTK9, it seems we have some issues with `experimental` folder. This folder needs to be clean and simplify with the new API.

Some solutions to explore:

- clipping plane
- billboard

## Way to reproduce

- run `viz_canvas.py` and check if we have the expected results (nb spheres)
- run `test_billboard_actor(interactive=False)` with  `centers = np.array([[2, 0, 0], [0, 2, 0],

[2020-08-19 18:21] Nibba2018 opened #293 "Cylinder rendering incorrectly"
The following issues are faced while rendering cylinders using `actor.cylinder`:
* Unable to render a cylinder that is perpendicular to the XY plane.
* Issues while rendering `wrecking ball simulation` at `docs/tutorials/05_physics/viz_wrecking_ball.py`.

[2020-08-19 18:35] skoudoro commented on #293
Thank you for reporting. We should create our own primitive and replace this function.

[2020-08-19 22:08] #270 closed

[2020-08-20 02:29] #116 closed

[2020-08-20 02:29] #260 closed

[2020-08-20 15:43] skoudoro opened #297 "Update Demos/tutorial"
## Description

Demos / Tutorials needs reshaping:

- [x] from @Garyfallidis :  Physics demo should move to demos
- [x] from @nasimanousheh : In viz_wrecking_ball.py, when I change the  radii (line 37) from 0.1 to 1, the collision happens before the ball reaches the bricks.
- [ ] from @pjsjongsung: Does the two UI tutorials have to be separate? It has some overlapping examples.Also, if they are se

[2020-08-20 16:04] nasimanousheh opened #298 "Wrecking Ball Simulation"
In "Wrecking Ball Simulation" (viz_wrecking_ball.py), the simulation does not respond correctly as I change the value of radii (line 37).

I think it can be fixed if:

- The value of "radii" (line 37) should be the same as the value of "ball_radius" (line 40);
- In line 204, it should be "radii=ball_radius" instead of "radii=0.2":

ball_actor = actor.sphere(centers=np.array([[0, 0, 0]]),

[2020-08-20 16:12] skoudoro commented on #298
Thank you for reporting @nasimanousheh. Can you look at it @Nibba2018 ? Thank you

[2020-08-20 17:04] Garyfallidis opened #299 "Windows 10 issues after 0.6.1 release"
[code]

[2020-08-20 17:11] Nibba2018 commented on #298
Hello @nasimanousheh , the `radii` parameter at line 37 is for the radius of the rope segments i.e the cylinders. The rope is built using multiple cylinder segments (No. of segments = `n_links`). The `ball_radius` parameter should be used to change the radius of the ball.

Yes, you are correct about line 204, I forgot to update the `0.2` with `ball_radius` variable. Line 120 should also be updated

[2020-08-20 17:46] pjsjongsung commented on #297
also in the fury installation document, to run the tests, it tells you to be in the FURY package dir, where as the location(in windows, I haven't checked with other OS) should actually be site-packages dir(which is the one before fury). minor, but worth fixing?

[2020-08-20 21:43] nasimanousheh commented on #298
Thank you @Nibba2018!
Do you know why when I change the "radii" to be 0.5, or even more (while ball_radius = 0.2), the bricks collapse before the ball touches them? But when I define both  "radii"  and "ball_radius" with same value (for example 0.5), it works well. I think there must be a connection between them.

[2020-08-20 21:53] Nibba2018 commented on #298
@nasimanousheh , I think the rope segments hit the wall before the ball does. You can replace `p.connect(p.DIRECT)` on line 20 with `p.connect(p.GUI)` to view the pybullet version of the simulation. Currently, due to #293 , the rope is not rendered properly in fury and thats why it appears as if the wall collapses before the ball collides.

[2020-08-20 22:01] Nibba2018 commented on #299
`test_clear_and_catch_warnings` is also failing for me in windows 10

[code]

[2020-08-20 22:10] nasimanousheh commented on #298
I understand now. Thank you @Nibba2018!

[2020-08-20 22:20] Garyfallidis commented on #298
@Nibba2018 is there an issue in place for the cylinder?

[2020-08-20 22:21] Nibba2018 commented on #298
Yes @Garyfallidis , I have created #293 for the cylinder issue.

[2020-08-23 01:19] Garyfallidis opened #301 "We need to check antialiasing"
Possibly something changed in vtk9 concerning antialiasing. I saw the issue in Windows 10 when running the antialiasing tests.

[2020-08-25 11:26] #298 closed

[2020-08-26 14:21] tushar5526 commented on #297
@skoudoro  for the third task, what exactly have to be done ? Do I have to move the advanced UI to UI ?

[2020-08-26 14:30] skoudoro commented on #297
yes,
- the folder `advanced_ui` should be deleted.
- the tutorial `viz_ui.py` should move to `02_ui`
- the Readme in `02_UI` should be updated. I think, just removing the word `basic` everywhere is enough.

[2020-08-26 14:55] skoudoro opened #305 "FURY Community Meetings - Fall 2020"
Everybody is welcomed at this monthly meeting.

The goal of these meetings is to share ideas, propose new features, discuss API, design, help new users, etc..

Any question? you can ask them on our [discord chat room](https://discord.com/invite/aXRZmmM)

The schedule for upcoming lab meetings is:

Friday, September 25th, 0700 PT, 1000 ET, 1500 UTC, 1930 IST, Main Topic: Physics engine
Friday, Octo

[2020-08-27 12:32] tushar5526 commented on #291
@skoudoro
`viz_canvas.py` is running properly with some minor changes, what is the expected result **(nb spheres)** ?
Plus `pytest test_actors.py` also works fine for me.
Can you elaborate a little what are the problems faced in experimental folder.

[2020-09-06 04:22] skoudoro commented on #291
Hi @tushar5526,

All scripts in experimental work properly and have the expected result, this is normal.

The goal of this issue is just to update the code and use all the new FURY functions in `primitives, utils, and shaders` modules. Currently, there is too much copy/paste code.

[2020-09-10 18:36] #297 closed

[2020-09-15 15:48] Nibba2018 opened #308 "Clipping overflowing text from the left."
The current implementation of `clip_overflow` in `fury.ui` allows us to clip overflowing text from the right end for a given width. It will be helpful to have a feature that can clip overflowing text from the left end as well. The overflowing text must be replaced by `...`. This feature will be helpful while developing `FileDialog2D`.

For e.g
if `extraordinary` overflows for a given width then it

[2020-09-15 16:11] Nibba2018 opened #309 "Domino Physics Simulation"
Add a Physics Simulation demo to showcase the following Domino effect:
![domino](https://i.imgur.com/aYhJRSX.gif)

To know more about Physics simulations refer to this [document](https://docs.google.com/document/d/1XJcG1TL5ZRJZDyi8V76leYZt_maxGp0kOB7OZIxKsTA/edit?usp=sharing).

[2020-09-15 17:00] dmreagan opened #310 "Rendering bug in SDF actor when not all primitives are defined"
## Description
If you don't define a primitive for each of your SDFs, it will render bit turds on the surface of the box for that SDF. FURY should do some combination of the following:

- be more clear about the primitive behavior in the documentation
- warn the user if they don't provide enough primitives
- assume a default for missing primitives

![fury_sdf_primitive_bug](https://user-images.git

[2020-09-19 04:14] SanjayMarreddi commented on #309
Hey @Nibba2018 ,

I would like to work on this issue. Could you please assign this to me and brief it out as well !

Thanks and Regards,
Sanjay Marreddi.

[2020-09-19 04:52] tushar5526 commented on #308
Issues with **hacktoberfest** tags has to be solved in october only ? :p

[2020-09-19 07:10] Nibba2018 commented on #308
Yes @tushar5526 , If you create PRs before October then they wont be eligible for Hacktoberfest.

[2020-09-19 07:11] Nibba2018 commented on #309
Hello @SanjayMarreddi , this issue is reserved for Hacktoberfest so if you are interested kindly reclaim it after 1st October.

[2020-09-19 07:30] SanjayMarreddi commented on #309
@Nibba2018
Yeah I am Interested in Hacktoberfest. I will reclaim after 1st October.
Thanks for your Information.

[2020-09-21 17:27] #274 closed

[2020-09-22 20:09] Nibba2018 opened #312 "Adding Physics Integration Docs to FURY's Website"
- fury-pybullet integration [doc](https://docs.google.com/document/d/1XJcG1TL5ZRJZDyi8V76leYZt_maxGp0kOB7OZIxKsTA/edit?usp=sharing) needs to be added to FURY's [Website](https://fury.gl/).
- `rst` syntax should be respected
- the document should be in `fury/doc/source`

[2020-09-22 21:18] jhlegarreta commented on #312
Maybe [pandoc](https://pandoc.org/) can come in handy to have a first/working draft.

[2020-09-23 18:01] iadi7ya commented on #312
Hey @Nibba2018 I would like to work on this issue. Can you please assign this to me.

[2020-09-23 18:20] Nibba2018 commented on #312
Hello @iadi7ya , this issue is reserved for Hacktoberfest so kindly reclaim it after 1st Oct.

[2020-09-23 18:22] iadi7ya commented on #312
Definitely. Thanks!

[2020-09-24 20:38] Garyfallidis opened #313 "Discord icon should appear in doc too"
See here: https://fury.gl/latest/community.html Discord icon is missing.

[2020-09-25 04:21] tushar5526 commented on #313
I'll do it :P

[2020-09-25 12:14] skoudoro commented on #313
Great 👌! Just wait for October 1rst ;-)

[2020-09-25 13:40] tushar5526 commented on #313
Discord's icon is available from Font-Awesome 5, and vispy is using  4.3.0.
For FA 5 you need a kit code by FA after signing up on their website [here](https://www.w3schools.com/icons/fontawesome5_intro.asp). So should I use my mail for the code?
Another option is to host FA 5 along with the website and then use it,but that's not necessary.

[2020-09-25 15:58] dmreagan commented on #313
We should be able to upgrade to the free version of FA5 without signing up for a kit code by using one of the big CDNs like [cdnjs](https://cdnjs.com/libraries/font-awesome), [jsdelivr](https://www.jsdelivr.com/package/npm/@fortawesome/fontawesome-free), or [unpkg](https://unpkg.com/@fortawesome/fontawesome-free).

One thing to look for is whether you can pull in just the specific icons we need, o

[2020-09-25 16:05] tushar5526 commented on #313
Thank you @dmreagan for the heads up!

[2020-09-26 17:52] jhlegarreta opened #314 "Be able to specify DPIs for a screenshot"
**Is your feature request related to a problem? Please describe.**
Rather than a problem, it is a feature request. I think it would be desirable if the `window.record` or `window.snapshot` methods allowed to specify the DPI resolution of an image when it is to be saved. Not sure how this fits into the current framework where the size of the pictures is specified in pixels.

**Describe the solution

[2020-09-28 15:10] skoudoro commented on #314
Thank you for your feedback @jhlegarreta.

Following our calendar, this feature can be integrated for the release 0.9.0 (in March). However, feel free to give a try if you want it for an earlier release!

[2020-09-29 16:52] rishigarg94 commented on #308
can I work on this issue pls?

[2020-09-29 16:57] Nibba2018 commented on #308
Hey @rishigarg94 , @tushar5526 claimed it first so if he plans to work on some other issue then I will assign this to you.

Also @tushar5526 , aren't you planning to work on #313 ?

[2020-09-29 16:59] rishigarg94 commented on #308
sure

[2020-09-30 04:48] tushar5526 commented on #308
Yes @Nibba2018, I am done with #313 will submit a PR soon.

[2020-09-30 05:44] rishigarg94 commented on #308
can you pls explain with some example... it is not clear what you wnat to do,

like, do you want "extraordinary" to be display as "...ordinary" ?
in case of width limit reach?
 or something else?

[2020-09-30 05:56] Nibba2018 commented on #308
Great @tushar5526 , then I am assigning this issue to @rishigarg94 .

Yes exactly @rishigarg94 . The entire string `...ordinary` should be a perfect fit for the given width.

[2020-09-30 06:15] rishigarg94 commented on #308
yes thanks for assigning me...
means, you don't wnat "extraordinary" to be shown as "extr..." you want it to be "...ary"? like this?

[2020-09-30 06:19] Nibba2018 commented on #308
Yes @rishigarg94

[2020-09-30 07:01] rishigarg94 commented on #308
ok sure

[2020-09-30 17:20] skoudoro opened #315 "Deprecation notice for authentication via URL query parameters"
An update is needed on [`github_tools.py`](https://github.com/fury-gl/fury/blob/master/docs/source/ext/github_tools.py) script.

We need to use the Authorization HTTP header instead as using the `access_token` query parameter is deprecated.

More information [here](https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param)

[2020-09-30 17:23] skoudoro opened #316 "Build a sphinx theme"
The goal is to build a new sphinx theme, using bootstrap / html / css,  to improve the design of our current website.

[2020-09-30 17:31] skoudoro opened #317 "Track and fix warnings during tests."
When you run FURY tests, a bunch of warnings is popping up. The goal of this task is to track and fix them. Some of them are expected, others not. We will need many PR for this issue and more precisely, 1PR per module

TODO:
-------

- [x] fury/actor.py  (`pytest -svv fury/test_actor.py`)
- [x] fury/colormap.py  (`pytest -svv fury/test_colormap.py`)
- [x] fury/convert.py  (`pytest -svv fury/test_c

[2020-09-30 17:34] skoudoro opened #318 "Cylinder primitive generation"
It would be good to have a function that generates the vertices and triangles of a cylinder.

Primitives examples are available [here](https://github.com/fury-gl/fury/blob/master/fury/primitive.py).

[2020-10-01 03:40] tushar5526 commented on #318
@skoudoro I would like to do it. Can you brief a little, like do you want the vertices and triangles of capped and uncapped cylinders too?

[2020-10-01 05:25] SanjayMarreddi commented on #309
Hey @Nibba2018
Could you please assign this to me now !

[2020-10-01 06:31] Nibba2018 commented on #309
@SanjayMarreddi Sure! go Ahead

[2020-10-01 16:11] skoudoro commented on #318
Great! Thanks @tushar5526.

If we could have both, it would be perfect! Just add a boolean option/parameter `capped`.

[2020-10-01 16:18] #313 closed

[2020-10-01 16:59] tushar5526 commented on #318
Great! I will be referring to [this](https://github.com/p5py/p5/blob/master/p5/core/primitives3d.py#L319) code from p5py ( processing for python )

[2020-10-01 17:21] skoudoro commented on #318
We try to avoid adding a dependency when it is not necessary so you can reimplement it and refer to this code on the docstring but do not import this package, please 😄 (even if it is a good one though)

[2020-10-01 17:27] skoudoro commented on #318
Furthermore, the GPL License from p5py is problematic for us.

So you should avoid copy code or import the package. You will need to reimplement it @tushar5526

[2020-10-01 21:41] Garyfallidis opened #320 "Support superquadrics in sdf actor"
SDF stands for signed distance functions
Check fury.actor.sdf for more info.

[2020-10-01 21:43] Garyfallidis opened #321 "Latex support"
Allow rendered text with math. Check projects such as matplotlib or pyvista for inspiration.
Check fury.actor.texture and fury.actor.figure

[2020-10-01 21:44] Garyfallidis opened #322 "Render video frames on a cube"
Load a video and rendered it on a plane or cube.
The video should be playing as the cube or plane are rotating.

[2020-10-01 21:45] Garyfallidis opened #323 "GIF support"
Add support for saving frames as gif. Make sure the color and quality is saved correctly.

[2020-10-01 21:47] Garyfallidis opened #324 "Animate a wave function"
Animate a wave function on a surface. You could start with a random 2D function that changes in time. But then make something that has more structure.
Use a colormap to show different levels on the surface.

[2020-10-01 21:50] Garyfallidis opened #325 "Check how shaders affect antialiasing"
Study if shaders used for example with the sdf actor or billboard actor are antialiased when antialiasing is enabled in ShowManager.

[2020-10-01 21:51] Garyfallidis opened #326 "Add glow effects"
This is a GLSL task. Take one of the existing actors. For example actor.cube and make them glow.

[2020-10-01 21:53] Garyfallidis opened #327 "Add support for fast rotations"
We need to be able to rotate objects of actors fast in the GPU.
Talk to @Garyfallidis for more info.

[2020-10-02 05:00] tushar5526 commented on #318
@skoudoro Yes, I will be not importing the package, by referencing I meant the algorithm to generate the vertices & triangles (if that's not an issue ).
Thank you for pointing out the GPL license, I will keep that in mind :)

[2020-10-02 07:17] Nibba2018 commented on #327
Hi @Garyfallidis , are we to using any specific python library or framework to execute on GPUs?

[2020-10-02 17:54] Garyfallidis commented on #327
Only GLSL is needed.

[2020-10-02 17:54] Garyfallidis commented on #327
And our own shader manager code.

[2020-10-10 23:09] #318 closed

[2020-10-12 08:14] tushar5526 commented on #317
[code]
Superquadratic actor is failing on my system, can anyone confirm this ?

[2020-10-12 09:51] skoudoro commented on #317
I confirm, it is failing quite ramdomly,  so we need to improve the test and make it more robust

[2020-10-13 18:20] weningerleon opened #331 "Jupyter notebook support"
I'm currently visualizing diffusion streamlines with fury&dipy, and would like to use it in jupyter notebooks.
When running jupyter on a local machine, the visualizations seem to pop up in a separate window, e.g., not in the browser.
However, we would like to offer some visualizations of diffusion data in a remote teaching course at our university, meaning the jupyter notebooks would run on a serv

[2020-10-13 18:51] skoudoro commented on #331
Hi @weningerleon,

Thank you for the request.

We are working on it. We should have something for the release v0.8.0 in December. there is an experimental test (python server with a custom client) in the following link: http://fury.grg.sice.indiana.edu/sdf (if the connection close, just hard refresh)

[2020-10-13 19:01] weningerleon commented on #331
Very cool, thanks for the info!

[2020-10-19 19:51] rafu01 commented on #323
how to get started with this? Could you provide any suggestion to read the codebase? Thank you

[2020-10-21 16:14] Nibba2018 commented on #309
@SanjayMarreddi Any updates?

[2020-10-21 16:16] Nibba2018 commented on #308
@rishigarg94 Updates?

[2020-10-21 16:32] Nibba2018 commented on #317
@skoudoro I would like to work on `ui.py`

[2020-10-21 16:33] SanjayMarreddi commented on #309
@Nibba2018  I was too busy with Academic Exams and Other Events till Tomorrow..
I have done implementing this about 60-70%. I just need to make sure that Bricks follow the Pattern. I will try to complete this before the end of this October Month.
Hope you Understand !
Thanks !!

[2020-10-21 16:34] Nibba2018 commented on #309
@SanjayMarreddi Okay no problem :+1:

[2020-10-21 18:21] skoudoro commented on #317
go ahead @Nibba2018! I will work on `utils`

[2020-10-21 18:59] Nibba2018 commented on #317
@skoudoro ,
[code]
seems to be a very common warning for all the tests. After digging I have found that this warning is being raised at `vtk.util.numpy_support.get_vtk_array_type`. Here the numpy array is said to have character value but I haven't noticed any character values in the array.

[2020-10-22 02:20] skoudoro commented on #317
maybe we should just set up pytest to ignore this specific warning: https://docs.pytest.org/en/stable/warnings.html

Also, we should do it for the whole project...

[2020-10-27 17:23] tushar5526 commented on #317
I was going through `test_utils.py` and `test_pick.py` and it seems the warning is due to the `vtk` package,  not by something in fury. So in this case should I just add a skip in the pytest rules files?

[2020-10-27 18:46] Nibba2018 commented on #317
@tushar5526 These warnings are supposed to be generated by `vtk` and other dependencies but we need to understand the reason behind it and try to solve it accordingly.

[2020-10-28 05:45] NEERAJAP2001 opened #333 "Unable to set up the project locally for python 32bit system"
## Description

Hello, I wanted to set up the project locally in my pc , I cloned te project but when running this command
```pip install -r requirements/default.txt```

 It shows this error
[code]

System details :
Windows 10
python version ```Python 3.8.5``` (32bit)

## Way to reproduce

- [x] Code example
- [ ] Relevant images (if any)
- [x] Operating system and versions (run `python -c "from f

[2020-10-28 05:47] NEERAJAP2001 commented on #333
I tried
[code]
It shows this
[code]

[2020-10-28 06:37] Nibba2018 commented on #333
@NEERAJAP2001 VTK only provides 64-bit wheels for [PyPI](https://pypi.org/project/vtk/#files). Try installing python 64-bit and try again. You can choose to use [miniconda](https://docs.conda.io/en/latest/miniconda.html) which provides 64-bit python by default.

[2020-10-28 12:36] skoudoro commented on #333
I confirm VTK supports only a 64bit system. So we do the same. I recommend you to install a compatible python version. I am closing this issue.

[2020-10-28 12:36] #333 closed

[2020-10-28 12:42] skoudoro commented on #317
from master branch, on `test_utils.py`, the warnings are:

[code]

It is not due to `vtk` package,  I do not understand your question @tushar5526?

[2020-10-29 05:51] tushar5526 commented on #317
I am using the command `pytest -svv fury/tests/test_utils.py` and the warnigs are different than of @skoudoro.
[code]
It is saying there are 5 warnings, but pytest is not displaying them.
What command are you using @skudoro to get these warnings?

[2020-10-29 06:09] skoudoro commented on #317
I am using vtk 9.0.1. what is your VTK, fury,  numpy version ? Are you working with master branch ?

This is 5 times the same warning so pytest shows it only one time the warning and all the function that generated it above

[2020-10-29 08:37] tushar5526 commented on #317
Updating the packages worked.
Thank you @skoudoro

[2020-10-29 15:42] SunTzunami commented on #324
Seems intriguing. Can I work on it?

[2020-10-29 15:43] skoudoro commented on #324
yes, go ahead @SunTzunami!  Thank you

[2020-10-31 16:21] SunTzunami opened #335 "_opacity argument for point doesn't seem to work"
## Description
The "_opacity" argument for fury.actor.point doesn't seem to work. Manipulating the values for the _opacity doesn't seem to change the opacity of the rendered points.
From what I could figure from the documentation, this occurs as the function which generates the points (fury.actor.point) utilises the sphere function (fury.actor.sphere) in generating the points and the function for

[2020-11-04 02:56] SanjayMarreddi commented on #323
@Garyfallidis I would like to work on this !
Could you please provide little help for me to get started ?

Thanks !

[2020-11-04 22:01] skoudoro commented on #323
Hi @SanjayMarreddi,

A good start/ one solution would be to combine [this tutorial](https://note.nkmk.me/en/python-pillow-gif/) and our `timer_callback`. This needs some more thinking to make sure it is easy to use.

I hope it helps

[2020-11-06 05:29] SanjayMarreddi commented on #323
@skoudoro Thanks for the tutorial ! I would like to work on this ! Could you please assign this to me

[2020-11-09 09:58] SunTzunami commented on #324
I've made a function which can animate any 2D function, I figured that there are two ways to go about it-

1. Plotting the function using lines-

![2dfuncvialines](https://user-images.githubusercontent.com/65067354/98525195-27a16d80-229e-11eb-92f0-221d6b9fdcfb.gif)

2. Plotting the function using points-

![2dfuncviapoints](https://user-images.githubusercontent.com/65067354/98526251-8b786600-229f-

[2020-11-11 13:52] Nibba2018 commented on #159
@skoudoro It seems that this test isn't failing anymore and rather `test_grid` is failing.

[2020-11-13 12:59] SanjayMarreddi commented on #321
@Garyfallidis I would like to work on this. Could you please assign this to me..
Also, Can we make use of Libraries available like `sympy` to complete the task ?

[2020-11-20 06:24] tushar5526 commented on #308
@Nibba2018 Can I do it ?

[2020-11-20 06:27] Nibba2018 commented on #308
@tushar5526 sure, go ahead

[2020-11-20 16:51] #309 closed

[2020-11-20 17:03] SanjayMarreddi commented on #257
@Nibba2018 I would like to work on it. Could you please assign this to me & provide a bit more info.
Thanks !

[2020-11-20 18:15] skoudoro opened #338 "From travis (pricing model changed) to github Actions ?"
The pricing model of Travis changed. Our macOS matrix stopped to work if we do not pay. here more informations: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing.

We need to read this carefully all the changes and we need to remove/replace our macOS matrix

Also, this is not good sign

[2020-11-20 18:48] Nibba2018 commented on #257
@SanjayMarreddi Sure, go ahead. The objective is to make sure that the UI components which renders `ListBox2D`, such as slots, scrollbar etc, should resize along with `ListBox2D`. Try to understand how the resize method works for other UI components, specifically the `TabPanel2D` one.

[2020-11-20 19:35] arokem commented on #338
I'm definitely a 👍 for GHA. I've had a pleasant experience with the projects I have there. Let me know if you want help setting this up. I can point you to some examples and help debug issues.

[2020-11-20 19:38] tushar5526 commented on #326
@Garyfallidis
I would like to give it a shot. Could you brief me a little? ( how shaders are assigned or any hint : ) )

[2020-11-21 03:34] #308 closed

[2020-11-21 05:00] skoudoro commented on #323
yes, you can go ahead @SanjayMarreddi!

[2020-11-21 09:23] tushar5526 commented on #315
Can I do it ?

[2020-11-21 20:31] #315 closed

[2020-11-22 07:41] devsapariya94 commented on #312
i have a doubt that which framework is used in the website??

[2020-11-22 17:10] skoudoro commented on #312
The framework used is Sphinx. @devsapariya94. This is quite common in python world. Please, check doc folder to see how to build the docs. It will help you.

[2020-11-23 18:53] skoudoro commented on #338
Do you any experience with Xvfb and GHA @arokem?

It seems I have some issue with that. Can you have a look at my PR #342.
Furthermore, I tried to keep the backward compatibility with Travis but I am not sure it is a good idea.

Thank you in advance for your feedback

[2020-11-24 13:05] sparkingdark commented on #335
Is this _opacity argument work to fade the color of the particles?
and another question are you test it in other os like ubuntu or any other os?

[2020-11-25 04:43] SunTzunami commented on #335
@sparkingdark opacity is meant to basically manipulate the transparency of the points. Points with opacity = 1 will be fully opaque and points with opacity = 0 will be fully transparent (we'll be able to see through them)
I haven't tested it on other OS but I don't think the results would be any different on other OS as the function that generates points does so by making use of the function that

[2020-11-25 05:12] sparkingdark commented on #335
Okay in the mean time I try to reproduce it in my computer and try to make
a fix of it.

On Wed, 25 Nov 2020, 10:13 Sajag Swami, <notifications@github.com> wrote:

[2020-11-25 06:32] sparkingdark commented on #335
I think the problem is coming from the _opacity variable in actor.py and similar problem going after changing to 0.0 as you told.

[2020-11-25 06:47] sparkingdark commented on #335
I don't see anything which take _opacity value and pass to sphere function,sphere function takes only centers, colors, radii=1., theta=16, phi=16,vertices=None, faces=None parameter.I think there something need to add to make it work.

[code]

[2020-11-26 10:14] tushar5526 commented on #326
This is tagged with `new feature` so something like
[code]
has to be achieved or do I have to provide a simple example where we make a cube glow.

[2020-11-26 13:52] SanjayMarreddi commented on #257
@Nibba2018 I tried Implementing `resize` function in `ListBox2D` Class of `ui.py` File.
For testing that function, I used this Tutorial on [ListBox](https://fury.gl/latest/auto_tutorials/02_ui/viz_ui_listbox.html#sphx-glr-auto-tutorials-02-ui-viz-ui-listbox-py) and added this line
[code]

after the line
[code]

This way of testing is correct only right ?

If not, Actually, I am not able to find an

[2020-11-26 13:54] Nibba2018 commented on #257
@SanjayMarreddi The resize method for ListBox2D is not yet implemented that why this issue was created. We need to implement that method.

[2020-11-26 13:59] SanjayMarreddi commented on #257
@Nibba2018 I am saying that I implemented the Function `resize` function in my Local System & tried testing that using the above Tutorial

[2020-11-26 14:02] Nibba2018 commented on #257
@SanjayMarreddi I see, okay then make a PR and I will review it.

[2020-11-26 17:39] SunTzunami commented on #335
Thanks @sparkingdark. I think I've fixed it. Earlier:
![1](https://user-images.githubusercontent.com/65067354/100380152-45135d00-303c-11eb-9e59-c38f68f70f7e.png)

Now:
![vr](https://user-images.githubusercontent.com/65067354/100380178-50ff1f00-303c-11eb-9041-1302342907ab.png)
@skoudoro Should I make a PR?

[2020-11-26 17:52] skoudoro commented on #335
Yes, go ahead, do not forget to add a unittest. 👍

[2020-11-26 18:28] tushar5526 commented on #310
We can set the missing primitive to the default value i.e. `torus` or set it to the primitive at index 0. Another option could be to throw an error. What should I prefer?

[2020-11-27 02:10] sparkingdark commented on #335
That's awesome, where was the problem??
Can you tell...

On Thu, 26 Nov 2020, 23:22 Serge Koudoro, <notifications@github.com> wrote:

[2020-11-27 17:39] SunTzunami commented on #335
@sparkingdark sure
As I mentioned in my issue's description, the point function made use of the sphere function to generate points and sphere function had no way of assigning opacity to the actor. I knew that line actor's opacity argument worked thus I checked the documentation for it to see how it worked and extrapolated its working to ensure that sphere function's and point function's opacity to

[2020-12-03 22:24] #338 closed

[2020-12-08 21:22] #7 closed

[2020-12-08 21:22] #12 closed

[2020-12-08 21:22] #111 closed

[2020-12-24 21:13] Abhirup-99 commented on #323
HI, is this issue still up? Can I work on this?

[2020-12-25 14:10] SanjayMarreddi commented on #323
Hello @Abhirup-99
Glad to see your Interest in working on this Issue. Actually I am currently working on this Issue. I will make a PR now demonstrating the current status of this Issue.

Hope you understand. Looking forward for your contribution on other Issues soon. Good Luck
Thanks !

[2020-12-28 08:36] AmalChandru commented on #312
Hai, Is this still open?

[2020-12-28 09:12] Nibba2018 commented on #312
Hey @AmalChandru , a PR already been made to solve this issue. Kindly look for other issues to solve.

[2020-12-29 10:54] Abhirup-99 commented on #324
Is this issue still up? Can I work on this?

[2020-12-30 04:16] SunTzunami commented on #324
@Abhirup-99 I appreciate your enthusiasm but I'm working on this. Will make a PR soon. I guess you can work on some other issues which have not been worked upon. Thanks!

[2020-12-31 13:36] Abhirup-99 commented on #326
Hi, this issue looks interesting, can I work on this?

[2021-01-06 13:12] satishhhh commented on #317
@skoudoro is this issue still open for the remaining tests?

[2021-01-06 14:54] skoudoro commented on #317
Hi @satishhhh,

I suppose so, you will need to run the tests to check if some warnings pop up.

[2021-01-06 15:31] #335 closed

[2021-01-06 15:34] skoudoro opened #352 "Update opacity management in actor.sphere"
After looking more in detail into your fix, I think we should avoid using `actor.GetProperty().SetOpacity(opacity)`. It seems not compatible with our architecture.
Ideally, in the function `actor.sphere`, we would check if `opacity != 1`.  if yes, we should update the color array by adding a dimension if it is an Nx3, or by updating the last dimension if it is an Nx4.

I will merge your PR because

[2021-01-06 16:49] satishhhh commented on #317
@skoudoro  i would like to work on colormap.py

[2021-01-06 17:50] Abhirup-99 commented on #326
I am working on this.

[2021-01-06 17:57] LoopThrough-i-j commented on #322
Can I work on the issue?

[2021-01-07 04:03] haran2001 commented on #320
Hi @Garyfallidis, I would like to work on this issue.

[2021-01-07 08:00] LoopThrough-i-j commented on #322
Hi, I am working on this issue and I was wondering that we should not have an Interactive mode for this as this might lead to crashes because of it being CPU intensive. Should we just have an output video file for this or support some kind of interaction @Garyfallidis what do you think?

[2021-01-07 16:54] skoudoro commented on #322
Hi @LoopThrough-i-j,

Do you have a branch to share?  Can you explain why is it so much CPU intensive? How do you do it? It will be good if you could explain more. Thanks

[2021-01-08 03:17] iamansoni opened #354 "Some Typos & Grammatical Errors to be fixed in WIKI GSOC 2021"
Some typos and grammatical errors need to be fixed for a better understanding of the wiki GSOC 2021 Documentation.

Link: https://github.com/fury-gl/fury/wiki/Google-Summer-of-Code-2021

[2021-01-08 06:44] Aju100 opened #355 "[Vulnerability Bug] Used blacklisted dangerous function call that can lead to RCE"
Hi Opensource enthusiast,

After looking through the whole codebase, I get to identify a few vulnerabilities on the fury repository.

### Impact
- urlib not only opens http:// or https:// URLs, but also ftp:// and file://. With this it might be possible to open local files on the executing machine which might be a security risk if the URL to open can be manipulated by an external user.
- It can le

[2021-01-08 09:52] Nibba2018 commented on #355
Hi @Aju100 , thanks for creating an Issue. This file is used to fetch contributor's information from GitHub for the documentation website and is not directly part of FURY's actual code base, so regular users shouldn't be affected by it. Also, I don't understand the patches that you have suggested can you please explain it a bit more? It looks like you have called the same method twice.

A proof of

[2021-01-08 16:01] #310 closed

[2021-01-08 16:08] skoudoro commented on #355
Thanks for letting us know.

+1, I don't see or understand your fixes/patches in your comment. it seems there is no change.

Please, feel free to create a PR, the change will be more explicit. Thank you

[2021-01-08 16:14] skoudoro commented on #354
Hi,

Thanks for letting us know. We can not make the wiki for EDIT so feel free to details all the typo and grammatical errors in a comment here. you can create a simple table with before and after correction.

We will update after that.

[2021-01-08 17:07] #312 closed

[2021-01-08 23:43] LoopThrough-i-j commented on #322
@skoudoro I have raised a PR for the issue.

[2021-01-10 16:28] Ayushsunny commented on #354
I wanna work on this issue.

[2021-01-11 04:24] Aju100 commented on #355
Hi, @skoudoro  @Nibba2018 sorry for my delayed response due to a few personal work. The functions that code is written are deprecitated and vulnerable to Remote Execution code. For having URL in order to use it, we have hard coded it.

[2021-01-11 04:38] Aju100 commented on #355
Fixes #357

[2021-01-13 19:17] shubhamr2511 opened #359 "unwanted objects rendering randomly"
## Description
2 randomly coloured cylinders rendering along with monkey. Cylinder are not supposed to be rendered.

## Way to reproduce
create new scene in blender 2.90
delete everything in scene
add new monkey mesh
shade smooth
export as .obj (suzanne.obj) in working directory
run the python code copied from [getting started page](https://fury.gl/latest/getting_started.html))

## Environment
OS

[2021-01-13 19:25] tushar5526 commented on #359
@shubhamr2511  you are adding those cylinders in the code. They are being positioned randomly. Check the following lines in your code
[code]

[2021-01-13 19:27] skoudoro commented on #359
+1 with @tushar5526 answer, so I am closing this issue

[2021-01-13 19:27] #359 closed

[2021-01-14 12:29] tantheta01 commented on #325
Hello,
I happened to stumble upon this Issue. What kind of implementation is needed for this issue(as it is labelled New Feature)?

[2021-01-14 19:04] denphi commented on #331
Since fury is based on VTK, an easy option is to use [ipyvtk](https://github.com/Kitware/ipyvtk-simple), this maps a vtkRenderWindow as a Jupyter canvas widget and enable user interactions.

<img width="764" alt="Screen Shot 2021-01-14 at 1 53 23 PM" src="https://user-images.githubusercontent.com/17455636/104635557-0bd89000-5670-11eb-995f-5a32c4ce3d47.png">

[2021-01-14 19:18] skoudoro commented on #331
Thank you for your feedback @denphi.

Indeed, we have a branch using ipyvtk (which is a nice extension) and I think we will add it to FURY soon. This is a good option.

However, We are not totally satisfied with the interaction, it doesn't work well with our UI element. This is why it is not done yet. We are exploring how to improve that.

[2021-01-14 19:56] denphi commented on #331
FYI @skoudoro, there was a problem with ipyvtk <= 0.1.3, mouse events didn't work as expected on Firefox browsers. I don't know if that is your case, but this problem is fixed on 0.1.4.

[2021-01-14 20:25] skoudoro commented on #331
Good to know, Thank you for this info @denphi! I will look into this update later in the day.

[2021-01-16 10:37] Nibba2018 commented on #354
Hi @skoudoro , wouldn't it be a good idea to add one of our physics simulation gifs under Project 6?

[2021-01-19 15:40] skoudoro opened #360 "Dashline / dotted line actor"
It will be good to add this new actor.

We can add an option to the line actor or create a specific actor. This actor should contain an option for this type of dash (point, line, etc)

[2021-01-19 16:36] tushar5526 commented on #360
Hey @skoudoro, I would like to add this feature.

[2021-01-19 16:40] skoudoro commented on #360
Feel free to go ahead!

[2021-01-20 09:58] tantheta01 commented on #352
I have generated a PR for this issue. Thank you.

[2021-01-20 18:50] anushka17agarwal commented on #331
Is this issue still open, I wanna contribute to it.

[2021-01-20 18:52] anushka17agarwal commented on #196
Can I try to work on this issue if it's still available to work on?

[2021-01-25 16:59] SunTzunami opened #363 "Minor error in documentation of create_colormap function"
## Description

This is with respect to the [create_colormap function.](https://fury.gl/latest/_modules/fury/colormap.html#create_colormap)

According to the comment describing the `auto` variable, if `auto` is True then v is interpolated to **[0, 10]** from v.min() to v.max(). In the actual code however, v is being interpolated to **[0, 1]** from v.min() to vmax(). I think that this can be fixed

[2021-01-31 17:28] ganimtron-10 commented on #363
I edited the Docs and Changed the docs according to your suggestion as I thought this way would be the Best and created a pull request...
[My Pull Request](https://github.com/fury-gl/fury/pull/368)

[2021-01-31 17:30] skoudoro commented on #363
Thank you @SunTzunami, fixed by #368, closing

[2021-01-31 17:30] #363 closed

[2021-02-03 03:28] iamansoni opened #372 "Ellipsoid primitive needs to be added in the comment section of sdf actor."
![E0](https://user-images.githubusercontent.com/26296983/106693831-45f8da00-65fd-11eb-8e73-9a2bfdfe9941.JPG)

In `sdf actor` ellipsoid is not listed in the comment section as an option.

[2021-02-03 17:23] skoudoro commented on #372
Thank you for catching that! Feel free to add it

[2021-02-04 17:41] #372 closed

[2021-02-11 15:54] haran2001 commented on #320
Hi, I'm trying to add an sdf for superellipsoids (SE) under sdf_dec.frag
So far I've added an appropriate sdf for locating points, but only patches of the actor are being rendered on screen.
I suspect that some points inside the SE are producing a positive value
by the sdf so it appears like the surrounding itself.
The sdf I'm using assumes the origin as center, but it's possible that fury applies

[2021-02-11 15:54] haran2001 commented on #320
I am expecting the following result
![shadertoy](https://user-images.githubusercontent.com/56040092/107661685-84eaf780-6caf-11eb-9c16-9af103f19144.png)

[2021-02-11 15:54] haran2001 commented on #320
But it's rendering this
![Uploading viz_sdfactor.png…]()

[2021-02-11 15:55] haran2001 commented on #320
Any help or guidance regarding this issue will be much appreciated :)

[2021-02-15 10:28] 16bitmood opened #377 "textbox2d recording issues"
## Description:
While recording for `test_ui_textbox`, if you press specific keys like `e` and `i`, you get this warning:
[code]
which interrupts the recording of tests. The previous test didn't include those keys so it did not have this issue.
## Ways to reproduce:
- Start recording:
[code]
- Press `e` or `i` repeatedly

## System Information:
[code]
## Demonstration:
https://user-images.githubus

[2021-02-25 02:38] MarcCote commented on #377
I think you are on the right track. A `vtkInteractorEventRecorder` object is used to record the events and it watches for either a 'e' or 'q' to stop the recording.
https://github.com/Kitware/VTK/blob/948a48ec545a4489e50c77a27cb5a84a2234fd30/Rendering/Core/vtkInteractorEventRecorder.cxx#L374

When digging a bit about the warning, I also found the following:

  //   Loop over all observers and exec

[2021-03-09 12:59] carrycooldude commented on #360
Is this issue is open? @skoudoro

[2021-03-09 16:39] carrycooldude commented on #360
No issue brother but let me how you do that 😊...

[2021-03-09 16:53] haran2001 commented on #360
You can start by having a look at the visualization toolkit documentation and playing around with various actors, images and textures. Later you can compare and contrast techniques from VTK with those implemented in fury and suggest/find some room for improvement.
You can always clarify doubts from the maintainers via texts and/or meets, as they are very kind and highly encouraging.
I hope this he

[2021-03-11 19:55] skoudoro opened #391 "Improve snapshot function"
Currently, there is an issue with `bg_color` which is not used correctly.

Furthermore, we need to improve the shadow management (Object shadow create a new object when we try to count them)

[2021-03-14 10:25] antrikshmisri commented on #391
Hey @skoudoro , if no one is working on the issue I would like to work on it. Also could you tell me what files could be of my interest regarding this issue

[2021-03-14 10:48] SunTzunami commented on #391
@antrikshmisri Check [this](https://fury.gl/latest/_modules/fury/window.html#analyze_snapshot). Ig this is the function in question.

[2021-03-14 12:51] antrikshmisri commented on #391
@SunTzunami Thanks for the help

[2021-03-20 12:09] aryanxk02 opened #395 "FURY installation conflict"
Installing fury from python 3.6.8 32-bit interpreter throws this error while installing fury.

PS C:\Users\Aryan\Desktop\fury-test> pip install fury
Collecting fury
  Using cached fury-0.7.0-py3-none-any.whl (294 kB)
  Downloading fury-0.6.1-py3-none-any.whl (282 kB)
     |████████████████████████████████| 282 kB 131 kB/s
  Downloading fury-0.6.0-py3-none-any.whl (272 kB)
     |███████████████████

[2021-03-20 12:24] Dhairya3124 commented on #395
Try using Anaconda Environment it might help.

[2021-03-20 13:19] ganimtron-10 commented on #395
This is due to the dependencies issue as various versions of Fury require vtk library of different version greater than 8.0.1 and due to the bug in vtk 9.0.0 fury doesn't use this version so because of this incompatibility you are getting this issue.
I would recommended to install vtk library and fury separately.
Use the below code to install vtk version greater than 9.0.0
[code]
and then again in

[2021-03-20 14:25] Nibba2018 commented on #395
Hi @aryanxk02 , I cant seem to reproduce your issue. What OS and python version are you currently using?
You can also try to install fury from source using the following instructions [here](https://github.com/fury-gl/fury/blob/master/CONTRIBUTING.rst#get-started).

[2021-03-20 16:16] skoudoro commented on #395
Please, switch to a 64-bit python interpreter.  Many libraries will not work anymore on 32-bit, it is not only vtk...

[2021-03-22 05:47] amitchaudhari9121 commented on #317
I'm working on `pytest -svv fury/tests/test_actors.py`, since no one else was...
---
@skoudoro
I will share what I've discovered about test_actors.py,
- most warnings are from the modules `dipy` and `vtkmodule` (vtk)
- most warnings are repetitive, i went ahead and changed `pytest.ini` on my local machine to show every repetitive warning only once. and the number dropped from 60k\~ish to some 135\

[2021-03-22 15:48] satishhhh commented on #317
for vtk dependency error use vtk > 9.0.0  use commond pip install vtk>9.0.0
and if the issue is not resolved then the problem would be in the python version use python 3.8 or 3.7 and use 64 bit operating system.

[2021-03-22 18:02] amitchaudhari9121 commented on #317
NO,
please look into [how versions are named](https://semver.org/), doing what you say will almost surely break the code in some way or other.

The correct way about going around is to look at where we are using vtk and which methods are we using. if those methods are breaking our code, we try to refactor our code to not use that particular method... **This is what I need help with**

We do that r

[2021-03-22 18:21] skoudoro commented on #317
@amitchaudhari9121,

Thank you for looking into this. The code works without any problem with VTK 9.0.0. We skip this version because VTK introduces a bug in their thread / multicore management.
It is not recommended to use this version and that's why they created the 9.0.1.

I will look at your PR when I find time.

[2021-03-24 14:31] amitchaudhari9121 commented on #317
After the Recent commit #396 ,
These tests no longer give any warnings:
- test_colormap.py `pytest -svv fury/tests/test_colormap.py `
- test_decorators.py `pytest -svv fury/tests/test_decorators.py `
- test_interactor.py `pytest -svv fury/tests/test_interactor.py` (this needs introspection?)
- test_io.py `pytest -svv fury/tests/test_io.py` (it skipped a test due to my OSX confilct)
- test_ui.py `p

[2021-03-24 22:53] skoudoro commented on #317
Hi @amitchaudhari9121,

Thank you for the overview. Indeed, I confirm that all the tests cited above are OK.

- You can work on `test_utils.py`. I will look into it in your PR to confirm your conclusion
- Yes, feel free to create tests for `convert.py` module!
- Yes, feel free to create tests for `test_layout.py` module!
- Also, there is 1 last warning to fix in test_actor.py
[code]

You can fix a

[2021-03-24 23:12] skoudoro commented on #395
I am closing this issue, feel free to reopen it if you still have trouble

[2021-03-24 23:12] #395 closed

[2021-03-25 00:58] amitchaudhari9121 commented on #355
I read up on this, and there's a couple of ways to fix this:
  - store the landing pages domain name "https:my_awesome_site.com" in the url, and then only append the remaining url, thereby we only fetch urls which we intended to. [this also an answer at this SO question...](https://stackoverflow.com/questions/48779202/audit-url-open-for-permitted-schemes-allowing-use-of-file-or-custom-schemes) ( i

[2021-03-25 12:42] ganimtron-10 commented on #377
I am unable to reproduce this issue.
While importing test_ui it is throwing ModuleNotFound Error.
Please Specify how to reproduce this error.
Thank You.

[2021-03-25 19:27] antrikshmisri opened #397 "Card2D UI widget"
**Is your feature request related to a problem? Please describe.**
No, my feature request is not related to a problem. It is merely an addition of a widget to fury's UI modules

**Describe the solution you'd like**
The `Card2D` should be divided into three sections `Image`, `Title`, `Body`. The image will be scaled in accordance with a scaling factor (between 0 , 1) for example a scaling factor of

[2021-03-25 19:28] antrikshmisri commented on #397
@skoudoro I would like to work on this widget

[2021-03-27 04:41] Aju100 commented on #355
Hey @amitchaudhari9121 , yes it will fix the issue. Make PR and let the maintainer review the code.

[2021-03-29 15:48] nasimanousheh opened #400 "Sphere actor does not appear when vertices and faces are used"
## Description
When I use 'theta' and 'phi' parameters in sphere actor, I can see the spheres in the window. But I don't see any spheres when I use 'vertices' and 'faces' parameters.

Here is the code sample to verify the issue:
[code]
Thank you all!

[2021-03-29 16:29] skoudoro commented on #400
Hi @nasimanousheh,

Thank you for pointing that out.

I see several potential mistakes:
- colors is between [0-1].  I don't think you need to multiply by 1000
- vertices, faces, have only 1 sphere (and you want 100 spheres), they are not duplicating after. So you have to do it yourself.
- why do you `prim_sphere`? I do not see the goal here

I need to tests your example but it will be good if you

[2021-03-29 18:36] skoudoro commented on #400
ok, we will look into this issue.

a temporary solution for you is:
[code]

[2021-03-29 19:49] Nibba2018 opened #401 "Unified API to make UI components draggable"
Many UI components such as `Panel2D`, `ComboBox2D`, `TabUI` etc implement boiler plate code to make themselves draggable. It would be helpful and cleaner to have a separate common method, preferably part of the base UI class to replace the said boiler plate code.

**Describe the solution you'd like**
A common UI method that helps replace the boiler plate code for making UI components draggable.

*

[2021-03-30 05:13] skoudoro commented on #401
I agree, I think this is part of creating a layout system.

[2021-03-30 07:02] antrikshmisri opened #402 "ImageContainer2D renders RGB .png images in black and white"
## Description
The ImageContainer2D UI component renders any RGB image with .png extension in black and white.

## Way to reproduce

1.  Imort ImageContainer2D from `fury.ui`
[code]
2. Make a ImageContainer2D object
[code]
3. Add the component to the scene
[code]
## System Information:
[code]
## Screenshots:
![Screenshot (177)](https://user-images.githubusercontent.com/54466356/112946317-00671200-

[2021-03-31 05:34] skoudoro commented on #355
Fixed by #399 , closing

[2021-03-31 05:34] #355 closed

[2021-03-31 05:35] #317 closed

[2021-03-31 05:38] skoudoro opened #403 "Creating test for layout module"
Tests are missing for the layout module (`layout.py`). This issue is just a reminder to create some tests for this module.

-> `fury/layout.py` (pytest -svv `fury/test_layout.py`)

[2021-04-03 12:40] AmPhIbIaN26 commented on #403
Hey I was looking to solve this issue, if I may can you tell me a bit more about it??

[2021-04-03 13:56] skoudoro commented on #403
Hi @AmPhIbIaN26,

Please, check how we run unit test in FURY, and then you can follow the same pattern as the other unit test.

[2021-04-03 15:08] aryanxk02 commented on #395
`ERROR: Could not find a version that satisfies the requirement vtk`
`ERROR: No matching distribution found for vtk`

[2021-04-03 15:09] aryanxk02 commented on #395
OS - Windows 64 bit
python ---version : Python 3.9.2

[2021-04-03 15:09] aryanxk02 commented on #395
I am doing it on a 64 bit interpreter.

[2021-04-03 15:17] aryanxk02 commented on #395
I think I should try with python 3.6.x 64 bit

[2021-04-03 15:33] skoudoro commented on #395
Hi @aryanxk02,

if you [look at Pypi here](https://pypi.org/project/vtk/#files), there is no wheel for python 3.9 yet. So you need to:
- use python 3.5, 3.6 3.7 or 3.8.
- avoid 32 bits as you can see on the link above

[2021-04-04 12:10] jhalak27 commented on #402
Hey, I reproduced the output with this code:
[code]
I got the image in RGB. Couldn't find the issue you are referring to.

The output was:
![Screenshot from 2021-04-04 17-37-37](https://user-images.githubusercontent.com/41876178/113508262-a0b2a180-956c-11eb-8483-6057dface81f.png)

[2021-04-05 12:20] SunTzunami commented on #400
I tried debugging it, there are perhaps three functions that can contain clues - primitive.prim_sphere, actor.sphere (which in turn uses utils.repeat_sources). I think primitive.prim_sphere works fine as I tried it and it returned the correct vertices and faces for the 'symmetric362' sphere. This leaves [actor.sphere](https://github.com/fury-gl/fury/blob/d921fb0177183ce5d4267a36c09f76033204d7f6/fu

[2021-04-05 13:41] antrikshmisri commented on #402
@jhalak27 Hmm, this weird I have tried this with many images and I get the same result i.e. a black and white image. Can you try it out with more examples?  I am using [this](https://raw.githubusercontent.com/fury-gl/fury-communication-assets/main/fury-logo.png) image.

[2021-04-06 15:17] ganimtron-10 opened #407 "UI Textbox background doesn't resize according to text in it."
## Description
When using `TextBox2D` and typing into it, the background `(Rectangle2D inherited from TextBlock2D)` of the `TextBox2D` doesn't seem to resize according to the text entered into it. The background remains at the same size with which we initialized it.

## Way to reproduce
Create a TextBox and add it to the scene and then keep typing into it.

### My Code
[code]

## System Info
[code

[2021-04-06 17:42] smeisler opened #409 "Segmentation Fault When Running Fury Tests"
Hi Fury team,

I am having trouble rendering windows in Fury. Please see the information below.

Thanks
Steven

## Description
**Installation information**
Fury version = 0.7.0
VTK version = 9.0.1
Python version = 3.7.10
Running on Linux Centos 7.6 HPC in Conda virtual environment
`{'fury_version': '0.7.0', 'pkg_path': '/om2/user/smeisler/anaconda3/envs/ts/lib/python3.7/site-packages/fury', 'commi

[2021-04-06 18:07] skoudoro commented on #409
Hi @smeisler,

Thank you for letting us know.  It looks like a remote machine. Can you tell us more?  is there a screen? do the command `glxgears` works on this machine?

[2021-04-06 18:34] smeisler commented on #409
Hi @skoudoro

Thanks for the followup. I am running a remote desktop on XFast via web browser. So there is a screen. `glxgears` works as intended. Also, some troubleshooting steps I forgot to mention are that I have tried allocating more memory (up to 300 GB) to the job and tried switching from OpenGL to VGL.

[2021-04-06 18:56] smeisler commented on #409
I started a new session, vglclient, and tried a different version of `vglrun` and now I don't seem to get the problem anymore.

[2021-04-06 18:56] #409 closed

[2021-04-06 19:05] skoudoro commented on #409
great! thank you for letting us know.

[2021-04-07 12:19] jhalak27 commented on #403
Hey, Can I take this up?

[2021-04-07 12:30] jhalak27 commented on #402
Tried this too.
Got this result.
![Screenshot from 2021-04-07 17-58-42](https://user-images.githubusercontent.com/41876178/113866578-1e73e880-97cb-11eb-93cf-66bfa6b4bff7.png)

[2021-04-07 12:47] skoudoro commented on #403
Yes, go ahead @jhalak27

[2021-04-07 15:08] jhalak27 commented on #403
I created PR #411. Can you have a look?

[2021-04-08 17:31] skoudoro commented on #407
good catch! feel free to propose a fix!  Otherwise, we look into it.

[2021-04-08 17:42] ganimtron-10 commented on #407
Thank You @skoudoro .
I will create a Pr soon.

[2021-04-09 14:57] dmreagan opened #414 "Duplicate ORCIDs in the JOSS paper"
@Garyfallidis and @skoudoro are shown with the same ORCID at the top of the [paper](https://github.com/fury-gl/fury/blob/master/paper.md)

[2021-04-09 15:29] skoudoro commented on #414
good Catch ! I just created a PR

[2021-04-09 15:55] #414 closed

[2021-04-14 10:38] ganimtron-10 commented on #257
If no one is working on this issue, Can I work on this??

[2021-04-14 13:16] SanjayMarreddi commented on #257
@ganimtron-10 Sure, I am currently busy with other works. You can ask the maintainers to assign this to you & then you can start working on it. I will join in later on if it was not resolved till then.
Good Luck!

[2021-04-17 11:03] ganimtron-10 opened #418 "ListBox2D has resizing issues when added into TabUI"
## Description
When we add `ListBox2D` in the `TabUI` its creates a unnecessary scrollbar bigger than itself and `ListItems` too have big backgrounds, which on clicking resizes properly.

## Way to reproduce
### My Code
[code]

### ScreenShots
![Issue-Img1](https://user-images.githubusercontent.com/64432063/115110679-36512680-9f9a-11eb-98e5-74006e496fab.png)
![Issue-Img2](https://user-images.githu

[2021-04-20 22:13] alecrimi opened #419 "Controlling Fury windows by HTC VIVE"
**Is your feature request related to a problem? Please describe.**
Given the fact that Fury is based on VTK should be possible to link HTC controllers for VR, but how?

[2021-04-20 22:22] skoudoro commented on #419
Hi @alecrimi,

- You need to compile VTK with this option and install your compiled version.
- By default after compiling VTK with openvr option,  the object factory mechanism should replace the core rendering classes vtkRenderWindow by vtkRenderingOpenVR, it is transparent for you, and it should work.
- concerning interaction, you might have some work to do. only basic interactions are working.
-

[2021-04-26 07:33] amitchaudhari9121 opened #423 "The axes actor needs improvements."
### **Is your feature request related to a problem? Please describe.**
I've found that **it is difficult to distinguish the X Y and Z using the color coded axes actor**, I am pretty sure others must have been confused by this as well.

Apart from this. there's also the issue that it conveys very little information i.e only orientation information. I'll make another comment detailing this.

### **D

[2021-04-29 18:08] haran2001 opened #427 "Distorted rendering due to scaling"
## Description
Scaling shader based actors beyond a point leads to either the actor completely disappearing or a distorted rendering of the actor.

## Way to reproduce
- [ ] Code example
[code]

- [ ] Relevant images (if any)
![issue1](https://user-images.githubusercontent.com/56040092/116596846-863ccf80-a942-11eb-8925-3df9ac66ec21.gif)

- [ ] Operating system and versions (run `python -c "from fu

[2021-04-30 02:32] devmessias opened #428 "Fine-tuning of the OpenGL state"
VTK it’s powerful, but sometimes we need to get more control about how OpenGL will render the actors. For example, enforcing  deep-test to keep disabled during a draw call of a specific actor.  This can be useful when we need to increasse the performance or create specific visualization effects in order to understand a certain data, like to enhance the visualization of clusters in a network. Becau

[2021-04-30 20:14] Garyfallidis commented on #428
Yes, please make a PR @devmessias. But also experiment with actors that are not using billboards. Try with some of our standard geometry based actors.

[2021-05-01 06:07] amitchaudhari9121 commented on #423
I expect reference axes to give more information,
- Title of that axis,
- Labels at certain points,
- scale or "ticks" at regular distance intervals.

[2021-05-01 10:23] SunTzunami opened #429 "Colormap not working as intended with surface actor"
## Description
 Colormap is not being mapped to the actor when generating a surface using surface actor. Colormap helps in visualizing elevation.

## Code example

[code]
## Preview of the output

![elevation](https://user-images.githubusercontent.com/65067354/116779575-aaa8c100-aa94-11eb-92a1-415d23c18ff6.png)

As can be seen in the output, the actor returned by the surface actor doesn't have the

[2021-05-01 13:27] amitchaudhari9121 commented on #429
This should be fixed once the above PR gets merged.

For future readers:
---
The method expected a 0-255  ranged values for color input.

but the `colors = colormap.create_colormap(v, name='spring')` would generate a 0-1 ranged values.
this resulted in the actor not displaying the color map properly.
Fix was to change the actor definition a bit.

[2021-05-01 23:53] skoudoro commented on #428
That's great! Yes please, make a PR.

[2021-05-02 03:12] arokem opened #431 "Deprecation warning raised in from `utils.numpy_to_vtk_cells`"
While reviewing https://github.com/dipy/dipy/pull/2375, I got the following deprecation warning:

[code]

[2021-05-02 03:12] arokem commented on #431
Sorry: more details. This happens when I run the `bundle_assignment_maps.py` example in the aforementioned PR.

[2021-05-05 20:58] skoudoro commented on #431
We need to check but I think it has been already fixed on master.

Thank you for the feedback @arokem.

[2021-05-27 19:04] devmessias opened #435 "Fury/VTK Streaming: webrtc/rtmp"
As well know VTK provides a set of tools to perform the streaming of the rendered result. This streaming it's expensive, because uses jpg's images consumed as a base64 in the browser. In addition, sometimes we just want to stream the rendering result, with no interaction, to a large audience

@filipinascimento and I have been discussing how to perform this streaming which I need for my PhD and for

[2021-05-27 19:43] skoudoro commented on #435
Hi @devmessias,

Thank you for pointing that out. That's great!

I think it should stay on the same repo

Could you add the branch or a link to your code in this issue. It would be good if everyone can test this. I think we will discuss it during an open meeting.

If someone is interesting by the discussion, you can also look at our [discord channel](https://discord.com/channels/695048505902891009

[2021-05-27 19:51] #403 closed

[2021-05-27 19:53] devmessias commented on #435
Hi @skoudoro.

So far, I only have a lot of ugly disconnected scripts, but I will work on PR #436 and soon I will send a new pull request with the webrtc server using the shared memory approach

[2021-06-03 15:11] skoudoro commented on #322
- plane is done with #356
- cube needs to be done
- tutorial needs to be improve with more explanation

[2021-07-02 23:48] danielskatz opened #450 "Issue with references related to JOSS review"
This is from @phamvanvung - copied from https://github.com/openjournals/joss-reviews/issues/3445

For the review of this software in https://github.com/openjournals/joss-reviews/issues/3384,  @phamvanvung has an issue regarding the references. He wrote

I hope he can describe the issue in more detail.

[2021-07-03 04:57] skoudoro commented on #450
Thank you for letting us know! We will update the references on the website and the paper.

[2021-07-08 21:11] Garyfallidis commented on #450
Updates were addressed in #453, #454 and #455 which are currently merged.

[2021-07-08 21:55] Garyfallidis opened #457 "Improve loading speed using partial imports"
We can try to make our scripts load faster by importing only the functions we need from VTK. This is supposed to be supported from VTK 9 and on. Let's try it.

The issue was reported during our JOSS review https://github.com/openjournals/joss-reviews/issues/3384 by N.P. Rougier.

[2021-07-08 22:46] danielskatz commented on #450
👋 @phamvanvung - I'm going to close this, but feel free to repoen it or add another issue if you feel there's still a problem

[2021-07-08 22:46] #450 closed

[2021-07-09 09:09] skoudoro opened #458 "Standardize actors colors (follow-up of #430)"
Hi All,

This PR can be merged so I will go ahead. However, we need to clarify the rules concerning the color ([0-1], vs [0-255]).

Let's create an issue to remember that we need to handle the color in all actors. I suppose, there is a function for that in utils.py or we need to create it.

We also need to manage the out of bounds

_Originally posted by @skoudoro in https://github.com/fury-gl/fury

[2021-07-09 09:13] #429 closed

[2021-07-16 09:08] antrikshmisri opened #461 "Improvement in border generation for `Panel2D`"
## Description
Currently, with #441 PR, borders are added to the `Panel2D` with 4 `Rectangle2D` which can be performance taxing. There needs to be an improvement in the border generation for `Panel2D` by using textures instead of 4 `Rectangle2D`'s. Also, border needs to be introduced to `Rectangle2D` as well.

[2021-07-17 18:03] antrikshmisri opened #463 "`GridUI` throws error when captions are `None`"
## Description
When the `captions` parameter is set to `None` the `GridUI` throws the following error:-
[code]
This is being caused because with captions the actors are converted to a `Container` that has the actor and the text but when captions are set to None the actor is passed as is, thus throwing `AttributeError`.

## Way to reproduce
1. Run the following code (captions set to None), to see t

[2021-07-20 19:02] SunTzunami opened #465 "implementation of the BillboardText"
@SunTzunami here is a way you can make the text always follow the camera.

[code]

Although the combination of vtkFollower and vtkVectorText is not as powerful as the vtkTextActor3D and VTK already has the vtkBillboardTextActor3D, my suggestion is to use the label actor and create an issue asking for implementation of the BillboardText.

_Originally posted by @guaje in https://github.com/fury-gl/f

[2021-07-20 20:14] jhlegarreta opened #467 "Window snapshot inverts the displayed scene"
## Description

FURY's `window.snapshot` method seems to save a given scene with the wrong orientation. The scene is displayed with a given orientation when calling `window.show` (and this matches the appropriate anatomical orientation in this case), but the scene is inverted upside down when saving to a file.

## Way to reproduce

A self-contained script to reproduce the issue has been posted in:

[2021-07-20 22:46] skoudoro commented on #467
Thank you for the report @jhlegarreta

[2021-07-21 09:35] skoudoro commented on #463
Good catch! thank you for pointing that

[2021-07-21 13:34] Garyfallidis opened #468 "Remove all vtk calls from tutorials and demos"
Mixing different coding styles is not helpful. Let's provide FURY utility functions for all vtk functions in the tutorials and demos.
Most of the calls we use now are related to either materials or transformations (translate, rotate, etc).

[2021-07-21 17:27] Garyfallidis commented on #74
A note here to also check when global variables in callbacks are really needed and when not.

[2021-07-24 06:50] SunTzunami opened #469 "Mismatch in parameter and docstring in manifest_standard() in material module"
Parameter `interpolation` is set to string [here](https://github.com/fury-gl/fury/blob/master/fury/material.py#L34) but in the [docstring](https://github.com/fury-gl/fury/blob/master/fury/material.py#L52-L54), it says that it's a float.

[2021-07-24 06:59] SunTzunami commented on #469
Also, should we have option of more types of interpolations other than Phong too? Other types of interpolation supported by vtk can be found [here](https://vtk.org/doc/nightly/html/classvtkProperty.html#a5c95702d226c4f4783957b7f3a98c069).

[2021-07-24 12:01] SunTzunami commented on #469
Another thing, parameter `specular_power` is set to 10 [here](https://github.com/fury-gl/fury/blob/master/fury/material.py#L33) but the according to the [docstring](https://github.com/fury-gl/fury/blob/master/fury/material.py#L51) it's supposed to be between 0 and 1.

[2021-07-26 10:14] skoudoro commented on #469
Thank you for the feedback @SunTzunami!

Can you address this @guaje in a quick PR?

[2021-07-26 23:30] jhlegarreta opened #471 "Allow showing anatomical slices in the background"
Allow showing anatomical slices in the background while showing other data structures lying in the same volume in the foreground.

**Is your feature request related to a problem? Please describe.**
The feature request is not related to a problem.

**Describe the solution you'd like**
Given an arbitrary slice from a 3D volume (e.g. coming from MRI data), it might be useful to be able to show it as

[2021-07-26 23:31] jhlegarreta opened #472 "Allow specifying the resolution of screenshots"
It would be advantageous to be able to specify the resolution of images when saving a screenshot of a scene.

**Is your feature request related to a problem? Please describe.**
The feature request is not related to a problem.

**Describe the solution you'd like**
It would be nice if `FURY` allowed to specify the resolution (i.e. in dpi) when saving a screenshot of a scene to disk (i.e. when callin

[2021-07-26 23:33] jhlegarreta opened #473 "Reset camera tight does not tighten the camera around content"
## Description
The `scene.reset_camera` method is expected to "reset the camera so the content fit tightly within the window."

The self-contained example below shows that the call does not have an effect on the displayed scene, whatever the value of the `margin_factor` is: i.e. contents are not fit within the window more or less tightly.

I ignore if the call should be combined with a call to `sc

[2021-07-29 16:13] guaje commented on #469
@SunTzunami thanks for catching this. I'm already working on the corrections on the documentation.

Regarding other types of interpolation, that is also a work in progress, and those features will come in other PRs.

[2021-08-01 07:30] ganimtron-10 commented on #407
Fixed In #442 .

[2021-08-01 07:30] #407 closed

[2021-08-03 07:29] skoudoro opened #481 "FIX segfault during doc generation"
During doc generation, many tutorials generate a segfault. We need to figure out why and how to fix them.

[2021-08-04 13:04] devmessias opened #483 "Fix: ShowManager Repeating Timer behavior and window size attribute"
Hi everyone. I noticed some bugs on the ShowManager object

## Timer Event
ShowManager `destroy_timer` method destroys the timer  without removing the callback related with the observer. Thus,
we lost the  reference for the callback. Because of that,  another timer event  created after that will keep calling the
callback function with the missed reference.   See the code bellow,

[code]

## Size W

[2021-08-05 09:02] skoudoro commented on #483
Hi @devmessias,

Good catch for the timer event issue !!

I can not reproduce the error on window size. Are you sure about this one?

[2021-08-05 12:40] filipinascimento commented on #483
I confirm the window size bug happens on my Windows version. Vtk 9.0.3, fury from master. It seems to create a padding (maybe of the size of the titlebar). Updating the window size inside the showm as soon as the window is created may fix this issue.

[2021-08-11 16:52] JulianoGianlupi opened #490 "Hability to specify from which colormap fury.colormap.distinguishable_colormap should draw"
**Is your feature request related to a problem? Please describe.**

Not exactly a problem. I really like ```distinguishable_colormap``` and I think it would be neat to be able to restrict the generation to an already established colormap, for instance: plasma. That way we can guarantee (or get closer to guaranteeing) that the colors are distinguishable by both people with and without colorblindnes

[2021-08-20 15:32] #324 closed

[2021-09-08 20:27] guaje opened #497 "Allow for different values when applying a material to actors that show multiple primitives"
Many FURY actors allow visualizing multiple objects with a single call of the respective primitive (i.e., `actor.box()`, `actor.cube()`, `actor.square()`, `actor.billboard()`, etc.) as illustrated in this figure:

![image](https://user-images.githubusercontent.com/9929496/132579515-f72766b2-f050-483a-a013-97889584104e.png)

However, when applying a material to get the desired material effects it a

[2021-09-14 05:15] ganimtron-10 commented on #461
Hey @antrikshmisri ,
I would like to work on this feature, but I am not getting what do you mean by `textures` is it using any image file or something related to vtkactor.
Please can you elaborate more about it.
Thanks!

[2021-09-15 15:22] antrikshmisri opened #500 "Adding a utility function to convert a numpy array to vtkImageData"
**Is your feature request related to a problem? Please describe.**

Currently, FURY has no utility method to convert a numpy array to vtkImageData. This will be useful in directly loading numpy arrays in `ui.ImageContainer2D` instead of `imageDataGeometryFilter`

**Describe the solution you'd like**

A utility function named `numpy_to_vtk_image_data` or something similar needs to be added in `fury

[2021-09-16 10:33] skoudoro commented on #500
Thank you for this issue. We also need to update #491 after having this function

[2021-09-16 10:53] skoudoro commented on #469
Fixed by #488, closing

[2021-09-16 10:53] #469 closed

[2021-09-28 03:32] bigfishtwo opened #505 "want a highlight feature"
Hi, I find that your visuliazation of streamlines is really nice, but I want to highlight one or several streamlines to analyse how the curve looks like, I find that I can only change the color, instead of hightlight,  I want the effect of glowing lines.
Hope this is a useful suggestion.

[2022-01-13 18:27] Garyfallidis commented on #472
Thank you @jhlegarreta.  Which third party tool are you using for now?

[2022-01-13 18:37] jhlegarreta commented on #472
Unfortunately I was doing it manually, i.e. using GIMP, with all that implies.

[2022-01-13 20:15] skoudoro commented on #505
Hi @bigfishtwo,

Thank you for the feedback. For sure we do not have this feature done on FURY but you can easily add it or play with the opacity level. Look [here](https://github.com/dipy/dipy/blob/master/dipy/viz/app.py#L19). They have done it with `dipy_horizon`.
I hope it helps. I move this issue to a discussion

[2022-01-17 16:27] #467 closed

[2022-01-19 12:49] xtanion opened #526 "Text justification in vtkTextActor3D"
## Description
Text justification of vtkTextActor3D seems to be working fine. There's a  `_update_user_matrix()` method in the text3d in fury, with or without this method, the text actor's justifications are working in the same way.

-------------------------------------------------------------------------------------

Using fury text3D:
[code]
Output:
![image](https://user-images.githubuserconten

[2022-01-19 14:41] skoudoro commented on #526
Hi @xtanion,

Thank you for reporting. Are you sure that the goal of `_update_user_matrix` is to do the justification? I did not check yet. However, there is a clear difference between your 2 screenshots. One is blurry. I will look deeper at `_update_user_matrix` but not sure this is an issue.

[2022-01-19 15:21] xtanion commented on #526
In  `_update_user_matrix` there was a comment that says "Text justification of vtkTextActor3D doesn't seem to be working, so we do it manually."
In the 2nd example, I forgot to set font size and scale it, After that the blurriness goes away. here's the preview
[code]
![image](https://user-images.githubusercontent.com/74976752/150157691-d641f48e-6d2c-49c1-9608-7e4459734ff3.png)

[2022-01-19 17:31] skoudoro commented on #468
this issue has been addressed previously. closing

[2022-01-19 17:31] #468 closed

[2022-01-19 17:33] skoudoro commented on #457
This issue has been addressed by all the PR's above. We can close it for now. We still need to compare the performance. This can be done on a new issue.

[2022-01-19 17:33] #457 closed

[2022-01-19 18:30] skoudoro commented on #431
I confirm this is fixed. Closing

[2022-01-19 18:30] #431 closed

[2022-01-20 17:58] jhlegarreta commented on #467
I confirm that #521 fixed the issue. Thanks for the effort @Garyfallidis.

[2022-01-20 18:28] #400 closed

[2022-01-20 18:41] Garyfallidis opened #528 "Sphere actor needs to use repeat_primitives by default"
This will allow sphere to have the same behavior when picking vertices or edges as with other primitives.

However, we should also keep repeat_sources as a secondary option just in case we need to use some of the other VTK filters.

See example of box actor (using repeat_primitives) here https://github.com/fury-gl/fury/blob/master/fury/actor.py#L1696

See current implementation of sphere here http

[2022-01-21 13:11] xtanion commented on #528
May I work on this issue?

[2022-01-21 15:21] skoudoro commented on #528
yes you can @xtanion

[2022-01-21 15:23] skoudoro opened #529 "Cone actor needs to use repeat_primitives by default"
This will allow cone to have the same behavior when picking vertices or edges as with other primitives.

However, we should also keep repeat_sources as a secondary option just in case we need to use some of the other VTK filters.

See example of box actor (using repeat_primitives) here https://github.com/fury-gl/fury/blob/master/fury/actor.py#L1696

See current implementation of cone here https://

[2022-01-21 15:25] skoudoro opened #530 "Arrow actor needs to use repeat_primitives by default"
This will allow the arrow to have the same behavior when picking vertices or edges as with other primitives.

However, we should also keep repeat_sources as a secondary option just in case we need to use some of the other VTK filters.

See an example of box actor (using repeat_primitives) here https://github.com/fury-gl/fury/blob/master/fury/actor.py#L1696

See the current implementation of arrow

[2022-01-21 15:27] skoudoro opened #531 "Cylinder actor needs to use repeat_primitives by default"
This will allow the cylinder to have the same behavior when picking vertices or edges as with other primitives.

However, we should also keep repeat_sources as a secondary option just in case we need to use some of the other VTK filters.

See an example of box actor (using repeat_primitives) here https://github.com/fury-gl/fury/blob/master/fury/actor.py#L1696

See the current implementation of cyl

[2022-01-21 16:33] skoudoro commented on #500
fixed by #509, closing

[2022-01-21 16:33] #500 closed

[2022-01-24 18:08] #526 closed

[2022-01-25 16:30] jhlegarreta commented on #473
@skoudoro thanks for caring about this.

Although I confirm that this is right (i.e. the camera is tightened around the contents), the point of view is not kept:

Once the contents fit tightly, changing the point of view has no effect.

Unless I'm doing something wrong, this can be easily seen slightly modifying the posted snippet: i) we can remove any camera resetting by `window.show` commenting

[2022-01-25 16:58] skoudoro commented on #473
ok, thank you for the feedback, the issue is more clear now and I confirm it.  I will look into it

[2022-01-28 18:18] Garyfallidis commented on #301
In the antialiasing function in window.py we can try enabling these functions.

    # TODO: enable these but test
    # win.SetBorders(True)
    # win.LineSmoothingOn(True)
    # win.PointSmoothingOn(True)
    # win.PolygonSmoothingOn(True)

[2022-01-31 00:58] nasimanousheh opened #539 "Current PBR version has issue with Spherical Harmonics"
## Description
Thank you for all the outstanding work with this upcoming release. Everything does work great apart from this issue.

With current master I am getting Scene has no attribute UseSphericalHarmonicsOff

[code]

## Way to reproduce
Simply run the ``viz_pbr_interactive.py`` tutorial in docs/examples

I believe this issue needs to be fixed before the release. Also shouldn't this example b

[2022-01-31 01:40] skoudoro commented on #539
Hi @nasimanousheh ,

Please, update your VTK version. This function is only available on VTK 9.1.0.   FURY will depend only on VTK 9.1.0.

Any older version will generate this error.

[2022-01-31 01:40] #539 closed

[2022-02-03 18:47] Garyfallidis opened #541 "Allow offscreen rendering in window.record."
The record function creates empty and black windows that can be problematic during testing or when running our tutorials.
A solution to this could be by setting offscreen equals 1 (as used in snapshot).
[code]

We should also test if we can call record iteratively without any issues after this modification.

[2022-02-06 10:29] Onkar627 commented on #529
Can you guide on how to proceed.

[2022-02-07 18:14] skoudoro opened #545 "Fix some tests in `test_material.py`"
I will go ahead and merge this PR.  We need to keep in mind that some tests in `test_material.py` has been disabled so we need to enable them back.

Thanks @Garyfallidis

_Originally posted by @skoudoro in https://github.com/fury-gl/fury/issues/542#issuecomment-1031769278_

[2022-02-13 14:07] xtanion commented on #531
Hey @skoudoro, I was working on this issue and found that the `direction` parameter in `repeat_primitives` does not work in the same way as the direction of `vtkSource`. The same goes for box actor.
way to reproduce:
[code]
![image](https://user-images.githubusercontent.com/74976752/153756663-176045c5-32bf-4d4e-b239-57a0835e8360.png)
the actor created from primitives will follow the same direction

[2022-02-15 21:13] guaje opened #546 "No replacement option for Geometry Shaders"
The parameter `shader_type` in the function `shader_to_actor` includes the option `geometry` as seen here:

https://github.com/fury-gl/fury/blob/dadbb8e66938e964c25d01e6bed427e1fe7efc0c/fury/shaders/base.py#L64

However, attempting to replace a geometry shader does not produce any effect. This has been already spotted in VTK's discourse ([link](https://discourse.vtk.org/t/geometry-shader-implement

[2022-02-25 10:56] brunodireito opened #548 "Black window on screen on "window.record"."
## Description
Black window on screen on "window.record". Every time I run the window.record command, a black screen opens on screen (a black patch with the size of the image).

## Way to reproduce
- [ e.g. Tutorial #1 ]
- ubuntu20.04, jupyter-lab
- [ ] Operating system and versions (run `python -c "from fury import get_info; print(get_info())"`)
{'fury_version': '0.7.1', 'pkg_path': '/home/xxxx/a

[2022-03-03 18:10] Sassafrass6 opened #550 "Cylinder direction not unique."
## Description
Directions passed to the cylinder actor do not refer to the unique axis of the cylinder.

## Way to reproduce
from fury import actor,window
import numpy as np

scene = window.Scene()

centers = np.array([[-2,0,0],[0,0,0],[2,0,0]])
dirs = np.array([[1,0,0],[0,1,0],[0,0,1]])

arrows = actor.arrow(centers, dirs, dirs)
scene.add(arrows)

centers += np.array([0,1,0])
cyls = actor.cylinde

[2022-03-03 18:16] skoudoro commented on #550
Thank you for the feedback @Sassafrass6. we will look into it. If you have a fix, feel free to contribute!

Related to #531

[2022-03-03 21:41] Sassafrass6 commented on #550
I have solved the issue.
The problem arises because the orientation of vtkCylinderSource is along global y.
Ive introduced another argument into repeat_sources (in utils.py), called orientation, which can be set to a rotation matrix. If this new argument is set to something besides None, the matrix is applied as a transformation to the glyph before mapping it to an actor. This way, any time a vtkS

[2022-03-05 11:28] soma2000-lang commented on #530
@skoudoro  I am working on this

[2022-03-09 11:01] Aditi840 commented on #458
I saw this issue open, can I work on it.

[2022-03-09 11:02] Aditi840 commented on #530
hello, I saw this issue open can I on this.

[2022-03-09 17:27] skoudoro opened #553 "Refresh code of all tutorials and demos"
Many tutorials and demos are outdated. We need to update by using more `fury.utils` functions (1 tutorials, demos / Pull Request)

[2022-03-11 01:08] m-agour opened #554 "The rotation done by repeat_primitive function is not working as it should."
## Description
The rotation done by repeat_primitive function is not working as it should be. And the rotated actor doesn't fit to the direction vector.

## Way to reproduce
I tried to add three arrow actors returned by **repeat_primitive** pointing at the three main axes with colors (r, g, b -> x, y, z), and they all should've been perpendicular, but they weren't (the same issue happens for the f

[2022-03-21 15:40] rachellcb opened #558 "Segmentation fault error with horizon"
## Description
I’m getting a segmentation fault error when trying to open any .trk or nifti file with horizon.

## Way to reproduce
I used the command: `dipy_horizon streamlines.trk` with the result:
[code]
I'm using:
- CentOS 7
- Python 3.9.1
- VTK 9.1.0
- DIPY 1.5.0
- FURY 0.8.0

[2022-03-21 15:46] Garyfallidis commented on #558
Thank you for reporting this issue. Is  ``streamlines.trk.trk`` a typo? It should be ``streamlines.trk``.

[2022-03-21 16:20] skoudoro commented on #558
For now, I can not reproduce the issue on our server (RHEL 7, python 3.9, vtk  9.1.0, DIPY 1.5.0, FURY 0.8.0).

CentOS should be approximately the same as RHEL but it seems we need to create the specific environment.

[2022-03-22 09:27] rachellcb commented on #558
Yes, thank you that was a typo! It's streamlines.trk

[2022-03-29 17:45] lej0hn opened #562 "drop_down_menu icon flaw in ComboBox2D"
## Description
When a choice is made from the combobox, the icon changes not once but a few times, creating a flickering effect. This happens only when the combobox is added on a tabUI.

## Way to reproduce
The following example is taken from the Tab_UI tutorial.
- Run the following code
- Click on the tab to open dropdown menu
- Choose a color from the list

[code]

### Operating system and versi

[2022-04-04 16:24] skoudoro commented on #562
Thank you for the feedback @lej0hn, we will look into it

[2022-04-04 16:25] skoudoro commented on #548
Solved by #564, and should be present in the next release.  closing

[2022-04-04 16:26] skoudoro commented on #541
solved by #564, closing

[2022-04-04 16:26] #541 closed

[2022-04-04 21:42] #550 closed

[2022-04-13 11:14] RajPaliwal10 commented on #481
Segmentation faults are caused by a variety of things, and cover a number of areas including memory corruption, and indirect memory access. Indirect memory access is access attempted through another memory location, which is common in programming languages like C and C++ (pointers and references). In fact, it is the most common cause of segmentation faults. Variations include:

Memory access outsi

[2022-04-13 11:20] RajPaliwal10 commented on #481
Segmentation faults are caused by a variety of things, and cover a number of areas including memory corruption, and indirect memory access. Indirect memory access is access attempted through another memory location, which is common in programming languages like C and C++ (pointers and references). In fact, it is the most common cause of segmentation faults. Variations include:

Memory access outsi

[2022-04-13 15:46] skoudoro commented on #554
closed by #555

[2022-04-13 15:46] #554 closed

[2022-04-13 15:47] skoudoro commented on #545
all tests have been back,  closing

[2022-04-13 15:47] #545 closed

[2022-04-13 16:02] skoudoro commented on #530
fixed by @m-agour on #552. closing

[2022-04-13 16:02] #530 closed

[2022-04-15 15:04] #529 closed

[2022-04-20 13:54] filipinascimento opened #578 "Pytest failing on mac when calling showm.initialize() but no start in any test"
## Description
We are adding new multithreading functionality to the show manager. However, by adding a new test to the `test_window.py`, we start getting segmentation fault on macs. By further isolating the issue, we found out that this seems to be related to calling the `initialize()` method for a show manager without starting it (which is already present in the `test_save_screenshot` test.

##

[2022-04-20 22:18] #546 closed

[2022-04-23 11:26] aadityasinha-dotcom commented on #463
Is this issue available?

[2022-04-23 11:57] ganimtron-10 commented on #463
Hello @aadityasinha-dotcom ,
I have worked on this issue and created a PR regarding the same!!
Feel free to look around for another issues.
Thanks!

[2022-04-23 11:58] aadityasinha-dotcom commented on #463
Okay

[2022-05-02 22:24] Sassafrass6 opened #583 "Routine sphere no longer functions when specifying radii with an array"
Somebody broke the sphere source behavior when passing arrays to specify multiple sphere objects.

This Tutorial no longer functions:
[introductory-vis-timers-py](https://fury.gl/dev/auto_tutorials/01_introductory/viz_timers.html#sphx-glr-auto-tutorials-01-introductory-viz-timers-py)
Line 1576 creating the "scales" array with np.multiply fails if radii is not a number (and likely has undefined beh

[2022-05-03 12:34] skoudoro commented on #583
Thank you for the feedback @Sassafrass6.

I confirm that the goal is to replace the sphere source with the primitive sphere in the close future.
It should be the case for all actors.

We would like to be less dependent on VTK and have other backends to permit the user to choose it. We try to slowly anticipate some future big issues on macOS (Opengl /metal /vulkan).

For now, we will switch `use_pr

[2022-05-09 06:27] Nibba2018 opened #585 "Double requirement given for Pillow in default.txt"
## Description
Hello, installing requirements via pip leads to the following error:
[code]

## Way to reproduce
- [X] Code example
`pip install -r requirements/default.txt`
- [X] Operating system and versions (run `python -c "from fury import get_info; print(get_info())"`)

[code]

[2022-05-10 15:06] xtanion commented on #583
Changing `scales=np.multiply(radii, [1,1,1])` to `scales=np.array(radii)` fixes the array of radii issue. However I noticed sphere source (or any other actor using `repeat_sourcces`) doesn't scales properly for radii < 1.
[code]
results:
![image](https://user-images.githubusercontent.com/74976752/167660878-6912ba80-8c38-448f-9096-fa426e951d6f.png)

[2022-06-02 07:30] xtanion commented on #585
Hi @Nibba2018, I installed fury on a venv using `requirements/default.txt.` It installed Pillow version>=8.0.1. I tried installing `pillow < 8.0.1`, and it worked fine. Can you confirm which version of `pillow` it installs on your system by default?
(p.s. all tests are working fine on both pillow<8.0.1 and Pillow>=8.0.1)

[2022-06-02 09:54] Nibba2018 commented on #585
Hello @xtanion , I was trying to update my dependencies on my exiting environment when I faced this issue. Apparently when I try to install them on a fresh environment it works fine. Anyways, thank you for your response. I will close this issue then.
(I was using `conda` and my existing `Pillow` version was: 8.0.1)

[2022-06-02 09:54] #585 closed

[2022-06-05 01:05] hh-19 opened #596 "Segmentation Faults when running Fury demos"
I have recently found this library and was trying to run the demos files given on the website. However, I run into segmentation faults when trying to run the demos scripts (have tried `viz_markers.py`, `collision-particles.py`, `viz_network_animated.py` with all causing Seg faults).

The only error is "Segmentation fault (core dumped)", there is no traceback call. I have narrowed down the error to

[2022-06-06 16:56] #596 closed

[2022-06-15 16:08] m-agour opened #603 "UI tests are failing in Ubuntu OS due to a "segmentation error""
## Description
UI tests are failing because of a "segmentation error" in Ubuntu only.
@xtanion confirmed it on his machine.
The error message is:
`tests/test_elements_callback.py Fatal Python error: Segmentation fault`
I tried to trace back the cause of this error and it's not caused by the test in which this error occurred.
Running only `test_elements_callback.py` gives a success.

## Way to repr

[2022-06-17 17:32] skoudoro commented on #603
Thank you @m-agour.

`Segmentation errors` are always hard to track and find the cause but we will look into it.

[2022-06-17 17:33] skoudoro commented on #553
This is a too generic issue. Closing for now

[2022-06-17 17:33] #553 closed

[2022-06-24 13:37] Nibba2018 commented on #472
Hello, may I work on this Issue?

[2022-06-24 14:44] jhlegarreta commented on #472
@Nibba2018 Please go ahead. Thank you.

[2022-07-01 16:00] filipinascimento commented on #603
Maybe related to https://github.com/fury-gl/fury/issues/578 ?

[2022-07-01 16:17] m-agour commented on #603
@filipinascimento, I will try it and let you know

[2022-07-01 19:01] m-agour commented on #603
@filipinascimento @skoudoro I tried getting to a minimal way to produce the error but I couldn't. I also tried mulithreading  and it sometimes produces this error depending on the number of threads.
A quick way to avoid this error is to run the `test_elements_callback` first before the other tests. A way to do it is changing its name to for example `test_1_elements_callback`.

[2022-07-01 19:28] m-agour commented on #603
I managed to narrowed it down. So the following test would produce the `segmentation fault`.
[code]
If `show_manager.play_events_from_file(recording_filename)` is deleted, the error does not occur, so I suspect it's the one causing the error but not sure why.
This test is not only causing the problem I believe. since I didn't eliminate the other tests.

[2022-07-02 20:09] sreekarchigurupati opened #618 "Theme issues when docs compiled with latest sphinx-theme version"
## Description
pydata-sphinx-theme made backward incompatible changes in 0.9.0. The docs compiled with this version result in an auto dark mode which disrupts the theme. This is also inconsistent with the home page theming.

## Example generated doc
![Dark themes documentation](https://user-images.githubusercontent.com/13794515/177014835-b188ac95-7a77-4c0f-a1b4-32afe9b60569.png)

## Way to reprodu

[2022-07-12 07:35] Nibba2018 commented on #418
Hi @ganimtron-10 , is someone working on this issue right now?

[2022-07-12 07:56] ganimtron-10 commented on #418
No @Nibba2018 , Currently no one is working on this.
Feel free to go ahead.

[2022-07-12 08:29] Nibba2018 commented on #418
Okay :+1:

[2022-07-14 16:27] skoudoro opened #628 "GLTF model to check after PBR + animation integration"
Hello @xtanion ,
While importing various models I was facing the below issues

1. After importing the models they aren't clearly visible as you can see below (I don't know whether it is related to importing or light or something else)

    1. BoomBox:
![BoomBox](https://user-images.githubusercontent.com/64432063/177738245-76819982-4cc8-41d0-8c4d-74999c32047e.gif)

    1. BarramundiFish:
![Barramun

[2022-07-18 16:59] skoudoro commented on #603
Thank you @Nibba2018

[2022-07-19 02:28] m-agour commented on #603
Hello @Nibba2018,
There is also this test case where it gives a segmentation fault running it separately. It does not give an error running it as a normal code though.
It's not an actual test but rather a fabricated one. so no need to fix it. But it might give you an insight into what's causing this error.

[2022-07-19 10:13] Nibba2018 commented on #603
Hi @m-agour Thank you for the snippet. It seems to reproduces the same type of segfault :+1:

[2022-07-20 20:35] #418 closed

[2022-07-21 07:29] Nibba2018 commented on #562
Hello @lej0hn thank you for the bug report.
Unfortunately, I am not able to reproduce the bug on my end could you please share a screen recording of what it looks like on your end? Thank you!

[2022-07-21 14:18] skoudoro commented on #562
When you select one choice, you can see the flickering effect for the arrow icon.

[2022-07-22 03:46] skoudoro commented on #618
It can be fixed by setting up `html_context` in `conf.py`

more information on this link: https://pydata-sphinx-theme.readthedocs.io/en/stable/user_guide/configuring.html?highlight=dark%20mode#configure-default-mode

closing for now.

[2022-07-22 03:46] #618 closed

[2022-07-22 20:40] skoudoro commented on #578
Hi @filipinascimento,

I can not reproduce the error on my old mac (macbook pro mid-2015). I will try with another OS.

![image](https://user-images.githubusercontent.com/23106443/180563305-362b275a-4a90-44a0-b9b3-185ec6c24252.png)

[2022-07-24 18:26] filipinascimento opened #640 "Interactivity environment variable instead for examples/tutorials instead of code variable"
Most of the examples and tutorials have a variable to enable or disable interactivity. Interactivity should be disabled for docs building and testing. However, most of the users will clone the repo and try to run the examples without knowing about the interactivity variable, resulting in nothing being displayed.

My suggestion is to have an environment variable that if defined, will run these demo

[2022-07-25 16:26] ganimtron-10 opened #642 "Textures are inverted in the tutorials"
## Description
As we can see below the Earth's texture (maybe other textures too) in the tutorials are inverted. This creates a miss-match in the coordinate points and the locations on the textures.

### `viz_earth_animation.py`
![python_VtzcD0M0bP](https://user-images.githubusercontent.com/64432063/180825427-e99785c3-1f8d-4da8-b83c-fd0c4d4584d3.png)
![python_xB5aQjs75B](https://user-images.github

[2022-07-25 18:15] skoudoro commented on #642
Good catch, thanks @ganimtron-10

[2022-07-27 19:23] Garyfallidis commented on #603
@m-agour thank you for reporting this. No issues on my Windows machine. Here are my settings.

'''
In [1]: import fury

In [2]: fury.get_info()
Out[2]:
{'fury_version': '0.8.0.post773+g223a6a2e',
 'pkg_path': 'c:\\users\\elef\\devel\\fury\\fury',
 'commit_hash': '223a6a2e2602904a218550bd3ad1547da0e53843',
 'sys_version': '3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]',
 'sys_e

[2022-07-27 21:05] m-agour commented on #603
Hello @Garyfallidis,
This issue only occurs in Ubuntu (maybe other Linux distros). I just noticed that I didn't mention that in the issue title, so I will modify it.
Running the UI tests on my windows machine passes as well.
I will log into my Ubuntu machine and post the report of the environment in which these tests are failing.
Report of my windows machine.
[code]

[2022-07-27 21:18] m-agour commented on #603
@Garyfallidis Using the environment below I get a segmentation fault running the UI tests, no matter which python version I'm using.

[code]

[2022-07-28 01:38] skoudoro commented on #603
Vtk 9.2.0 ? Python 3.10 ? I didn't receive the release notice. When this happens ???!!!

[2022-07-28 02:56] m-agour commented on #603
@skoudoro I got it when I was testing different versions of python for vtk's `timer_callback` accuracy. This was a month ago or so. I installed it from here https://vtk.org/download/. And it's been working fine!

[2022-07-28 03:13] skoudoro commented on #603
Ah ok, this is a release candidate (rc1) makes sense now, no official 9.2.0 release yet.

[2022-08-05 06:46] Paddy-Maya opened #652 "Kernel dies while using window"
## Using Dipy package
I am working with diffusion MRI data and I have been using Dipy package for my studies. Recently in-order to visualize the tractography of whitematter I used fury, even time I run the following command.

`from dipy.viz import window, actor, has_fury
if has_fury:
    scene = window.Scene()
    scene.add(actor.peak_slicer(csa_peaks.peak_dirs,
                                csa

[2022-08-09 09:20] wasserth opened #657 "Put text next to a roi"
Hello,
I am using fury to render 3D plots of binary masks. Across the entire image I have several binary masks at different positions. Now I want to show text next to each binary mask. I know the position of each mask in 3D space, but as far as I know text can only be plotted using `TextBlock2D` which can not take a position in 3D space. Now I am not sure how to find the right 2D position for the

[2022-08-09 23:22] skoudoro commented on #657
Hi @wasserth,

You can use the 'container' actor or the gridUI to do that.

I am surprised that we do not have a tutorial for that but you can look at the test of container actor or the grid : https://github.com/fury-gl/fury/blob/master/fury/tests/test_actors.py#L1104

Run the tests with interactive to true to see the results.

I hope it helps

[2022-08-10 04:47] skoudoro commented on #657
Also,  there is `actor.vector_text` and `actor.text_3d(...)` if you want to setup the 3D position of a text actor in a simpler way

[2022-08-19 14:22] skoudoro opened #664 "Improve animation module tutorial"
This PR looks solid, great job @m-agour.

I appreciate all the tutorials. Some of them need much more explanation for a beginner

Despite my review, I will go ahead and merge this useful and valuable PR.  Please, try to address my concern on a new PR.

Thanks!

_Originally posted by @skoudoro in https://github.com/fury-gl/fury/pull/647#pullrequestreview-1061261078_

[2022-09-29 00:42] ckolluru commented on #133
I'm having a similar issue sometimes, when I run either window.record() or window.show().

I'm debugging python code in Visual Studio Code. The functions work well for a while, but they suddenly result in a crash. When it crashes, I see this line in the command window.

Backend QtAgg is interactive backend. Turning interactive mode on.

Does someone have an idea how I might be able to fix this?

[2022-10-16 09:34] ganimtron-10 opened #703 "`DrawPanel` UI modification plans"
During GSoC'22 period I worked on `DrawPanel` UI. You can read more about it here in the [gist](https://gist.github.com/ganimtron-10/1732c8c52024ed3fca278279a9d6afd9).
Below are some of the future plans for the `DrawPanel`.

- [ ] Merge the pending PRs
    - [ ] #653
    - [ ] #695
    - [ ] #696
- [ ] Move the rotation slider to be at the bottom right corner outside the main panel.
- [ ] Find out

[2022-11-12 15:00] devmessias opened #705 "[BUG] Segmentation fault error caused by Morph Stress Test"
## Description

`test_morphing` https://github.com/fury-gl/fury/blob/b37669f8767d460b97e17584106ad8a6b5d26491/fury/tests/test_gltf.py#L285 causes a segmentation fault error in most of the github actions. It seems correlated with the headless mode.

I did an initial  investigation through the #704 pr.  What I can conclude until now it is:

- It's not caused by the window manager `initialize` method

[2022-11-12 15:04] devmessias commented on #435
Closing this issue because #437 it's already merged

[2022-11-12 15:04] #435 closed

[2022-11-15 17:13] nasimanousheh opened #707 "With FURY master strange window appears when new actors are created"
## Description
In latest master a vtk popup window appears when actors are created.
No issues with previous versions. For example all good with the ``freehand-drawing`` PR which is a recent PR.

Hard to debug as there are no error messages. Maybe those are encapsulated in the vtk popup window but are not visible to the human eye.

Any ideas? I noticed this issue while working with Furious Atoms. (

[2022-11-23 01:37] ckolluru opened #711 "Memory usage after calling actor.slicer"
Hi,

I have a 3D  dataset (4000, 3000, 100) that I'm rendering with fury. The size of the dataset is about 1.2 GB.

When I call the actor.slicer function as: `image_actor_z = actor.slicer(volume, affine)`, the memory usage after the call increases by approximately 6 GB.

Is this expected? I'm trying to use fury to eventually render datasets of size 50-60 GB on a workstation with 128 GB of RAM, so

[2022-11-28 16:46] Mk996 opened #713 "The docs generation fails with pyData theme v0.11.0"
## Description
[The docs generation fails with pyData theme v0.11.0 and fixes the aliases]

## Way to reproduce
1. Start with a clean code installation via the Source method.
2. try to build the project `make -C . clean && make -C . html-no-examples`.
3. The build will fail due to version incompatibility.

## System Specs
{'fury_version': '0.8.0.post1304+gb37669f8', 'pkg_path': '/Users/maharshigor

[2022-11-29 19:55] #603 closed